<?xml version="1.0" encoding="utf-8"?>
<Content Key="f1d2f427-c390-4bce-b6e2-048453722ace" Alias="About This Demo Site" Level="2">
  <Info>
    <Parent Key="3f0a1a65-d5db-4d3b-a06e-615af4233bd7">Home</Parent>
    <Path>/Home/AboutThisDemoSite</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-07-11T20:44:18</CreateDate>
    <NodeName Default="About This Demo Site">
      <Name Culture="en-us">About This Demo Site</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="d2cf64ac-3ff8-4e81-a150-dcead48f4b58">ContentPage</Template>
  </Info>
  <Properties>
    <components>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/1e163caa658a43c7ac1a011090bf5ab3",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/dc8f7fc0d232439a98809fb368486d54",
        "areas": [
          {
            "key": "900b2dea-7c24-41d1-a94f-710f02c01c62",
            "items": [
              {
                "contentUdi": "umb://element/52cf6d4d430745479790bfbdc7d5be4e",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "85707c55-f442-4752-8da3-980a8e4ab5af",
            "items": [
              {
                "contentUdi": "umb://element/ef92cc9a18854d54a1dadef0c48bc9d1",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "9629d57a-66ad-491c-ac64-968f0ab4a1f2",
            "items": [
              {
                "contentUdi": "umb://element/003e976e47c347ae9bdeef9f3d259cc1",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/31f37ca6e8fd42788be6b5217f7f2ac8"
      },
      {
        "contentUdi": "umb://element/894d2676764f4f6588549f06a65e04b1",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/036fa99152f24dbdbe653f1d0038db15",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/1e163caa658a43c7ac1a011090bf5ab3",
      "headline": "Welcome!",
      "caption": "<p><strong>Test drive</strong> RelevantEdge Analytics solution featuring the RelevantEdge web tracker</p>",
      "actions": null,
      "theme": [
        "default"
      ],
      "backgroundImage": [],
      "fullWidth": "0",
      "toneImage": "0",
      "image": [
        {
          "key": "e12895c0-729f-4fe1-815e-97b42ca9e3b5",
          "mediaKey": "3187f1ac-780b-4f92-97f3-deebac7a8fd0"
        }
      ],
      "componentName": "Hero",
      "tagLine": ""
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/31f37ca6e8fd42788be6b5217f7f2ac8",
      "headline": "What can you do with this demo site?",
      "caption": "<p>See for yourself! Browse the site and view your own data in the live Power BI dashboard.</p>",
      "actions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/a1612783751d49b4bb8b8c8d49a3f60a"
            },
            {
              "contentUdi": "umb://element/657d93e75b2345c4a8e83ce20ac7c5c6"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "78a2c645-8b8a-4cb1-96b0-3a2105f4a40a",
            "udi": "umb://element/a1612783751d49b4bb8b8c8d49a3f60a",
            "label": "Browse this Demo Site",
            "target": [
              {
                "name": "Home",
                "udi": "umb://document/3f0a1a65d5db4d3ba06e615af4233bd7"
              }
            ],
            "isPrimary": "0"
          },
          {
            "contentTypeKey": "78a2c645-8b8a-4cb1-96b0-3a2105f4a40a",
            "udi": "umb://element/657d93e75b2345c4a8e83ce20ac7c5c6",
            "label": "View the Power BI Dashboard",
            "target": [
              {
                "name": "RelevantEdge Analytics Dashboard",
                "udi": "umb://document/7224c19ff97949eebe517f7fa8036672"
              }
            ],
            "isPrimary": "0"
          }
        ],
        "settingsData": []
      },
      "theme": "",
      "backgroundImage": [],
      "fullWidth": "0",
      "image": [],
      "toneImage": "0"
    },
    {
      "contentTypeKey": "97c1bbe1-fea8-4a70-8379-f35d331f04c1",
      "udi": "umb://element/dc8f7fc0d232439a98809fb368486d54",
      "theme": [
        "default"
      ],
      "fullWidth": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/52cf6d4d430745479790bfbdc7d5be4e",
      "image": [],
      "caption": "<p>The site includes <strong>live Power BI dashboards</strong> that show session data collected by the RelevantEdge web tracker and transformed by the RelevantEdge Application</p>",
      "actions": null,
      "backgroundImage": [],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "tagLine": "What"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/ef92cc9a18854d54a1dadef0c48bc9d1",
      "image": [],
      "caption": "<p>Understand the <strong>unique capabilities</strong> of the end-to-end integrated analytics solution provided by RelevantEdge</p>",
      "actions": null,
      "backgroundImage": [],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "tagLine": "Why"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/003e976e47c347ae9bdeef9f3d259cc1",
      "image": [],
      "caption": "<p>The demo site uses the <strong>RelevantEdge web tracker</strong>, the RelevantEdge app, Umbraco CMS, HubSpot and Microsoft Power BI.<br><br><a href=\"/{localLink:umb://document/6a2c32276e804a1f8cf54fc070289832}\" title=\"How the RelevantEdge solution works\">Learn more</a> </p>",
      "actions": null,
      "backgroundImage": [],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "tagLine": "How",
      "bodyText": ""
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/036fa99152f24dbdbe653f1d0038db15",
      "image": [],
      "caption": "",
      "actions": null,
      "backgroundImage": [],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "tagLine": "Optional",
      "bodyText": "<p><strong>Optional: </strong>Use the following to visit the demo site and track a UTM campaign. <br><br>Feel free to change any of the UTM parameters and see how they appear in the analytics dashboard.</p>\n<p> </p>\n<p>https://umbraco.tailjs.org?utm_source=google&amp;utm_medium=cpc&amp;utm_campaign=Global-Branding-Campaign-Q4-23&amp;utm_id=campaignID1234</p>"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/894d2676764f4f6588549f06a65e04b1",
      "image": [],
      "caption": "",
      "bodyText": "",
      "actions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/7c4f14cdf4f644fd84fe92e1181ddee0"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "78a2c645-8b8a-4cb1-96b0-3a2105f4a40a",
            "udi": "umb://element/7c4f14cdf4f644fd84fe92e1181ddee0",
            "label": "Request a RelevantEdge Demo",
            "target": [
              {
                "name": "Request a RelevantEdge Demo",
                "target": "_blank",
                "url": "https://www.relevant-edge.com/demo-request/"
              }
            ],
            "isPrimary": "1"
          }
        ],
        "settingsData": []
      },
      "backgroundImage": [],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "componentName": "Request demo",
      "trackImpressions": "1"
    }
  ],
  "settingsData": []
}]]></Value>
    </components>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>