<?xml version="1.0" encoding="utf-8"?>
<Content Key="5d926f15-68ea-4311-8f30-03fa98f3905b" Alias="Business Property" Level="3">
  <Info>
    <Parent Key="f592aff2-8839-4d05-9cab-47edcca87125">Business</Parent>
    <Path>/Home/Business/BusinessProperty</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-10-10T07:08:41</CreateDate>
    <NodeName Default="Business Property">
      <Name Culture="en-us">Business Property</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="d2cf64ac-3ff8-4e81-a150-dcead48f4b58">ContentPage</Template>
  </Info>
  <Properties>
    <components>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/c220a04d0b5047a5a0b4947e5954cd3f",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/66745cd7ca054785b5ea2916cbb662c6",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/e559973368014e8ab97422747e84775f",
        "areas": [
          {
            "key": "7fadd01a-6977-41fa-a9b7-677d2f9c2baf",
            "items": [
              {
                "contentUdi": "umb://element/68f09f33dd054bb6ae8233af01d8a14a",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "21233b21-9acd-49f1-89e7-62b7a19359b1",
            "items": [
              {
                "contentUdi": "umb://element/d4afab00db6d473f931d58397ae130e9",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/6ada687f204448d9ba77e39cfcad2aee",
        "areas": [
          {
            "key": "7fadd01a-6977-41fa-a9b7-677d2f9c2baf",
            "items": [
              {
                "contentUdi": "umb://element/aea3745529f9476ea5fc8543ad614518",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "21233b21-9acd-49f1-89e7-62b7a19359b1",
            "items": [
              {
                "contentUdi": "umb://element/00c177bd3c514a82a5faa886c62d1458",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/299f0592d92c48da935aeee19877d641"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/c220a04d0b5047a5a0b4947e5954cd3f",
      "image": [],
      "headline": "Business Property Insurance",
      "caption": "",
      "actions": null,
      "backgroundImage": [
        {
          "key": "9fb79828-014b-4c69-87ca-bca22085ca05",
          "mediaKey": "29f6b6c1-84a9-49a3-b08e-c2f57ccf9bd1"
        }
      ],
      "theme": [
        "invert"
      ],
      "fullWidth": "0",
      "toneImage": "1"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/66745cd7ca054785b5ea2916cbb662c6",
      "tagLine": "Whether you own your freestanding building, lease an office or work at home, business property insurance protects your business' physical assets.",
      "image": [],
      "headline": "Protect your business property with commercial property insurance",
      "caption": "<p>Commercial property insurance can protect your business against everything from a minor hiccup to a major loss. </p>\n<p>For example:</p>\n<ul>\n<li>A fire could destroy your building and the contents inside</li>\n<li>A burst water pipe could damage valuable documents</li>\n<li>A storm could damage your outdoor sign</li>\n</ul>",
      "actions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/b859b5a54f8d4740934d62b49aa602e0"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "78a2c645-8b8a-4cb1-96b0-3a2105f4a40a",
            "udi": "umb://element/b859b5a54f8d4740934d62b49aa602e0",
            "label": "Request quote",
            "target": [
              {
                "name": "Request Quote",
                "udi": "umb://document/7674190935244867a28ac5140614dfc4"
              }
            ],
            "isPrimary": "1"
          }
        ],
        "settingsData": []
      },
      "backgroundImage": [],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "bodyText": "",
      "trackImpressions": "0"
    },
    {
      "contentTypeKey": "50e4e13b-7244-4a45-b226-7c586f93bf10",
      "udi": "umb://element/e559973368014e8ab97422747e84775f",
      "theme": [
        "default"
      ],
      "fullWidth": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/68f09f33dd054bb6ae8233af01d8a14a",
      "image": [],
      "headline": "",
      "caption": "",
      "actions": null,
      "backgroundImage": [
        {
          "key": "661dfcd7-609e-4901-8fb8-93127b030ad0",
          "mediaKey": "29f6b6c1-84a9-49a3-b08e-c2f57ccf9bd1"
        }
      ],
      "theme": [
        "invert"
      ],
      "fullWidth": "0",
      "toneImage": "1",
      "bodyText": "",
      "trackImpressions": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/d4afab00db6d473f931d58397ae130e9",
      "image": [],
      "caption": "<p>Commercial property insurance helps ensure the future of your business. It helps protect:</p>\n<ul>\n<li>Your building</li>\n<li>Your outdoor sign</li>\n<li>Your furniture and equipment</li>\n<li>Your building</li>\n<li>Your outdoor sign</li>\n<li>Your furniture and equipment</li>\n</ul>",
      "actions": null,
      "backgroundImage": [],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "headline": "What's covered by commercial property insurance",
      "bodyText": "",
      "trackImpressions": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/299f0592d92c48da935aeee19877d641",
      "image": [],
      "caption": "<p><a href=\"/{localLink:umb://document/3f0a1a65d5db4d3ba06e615af4233bd7}\" title=\"Home\">Home</a></p>\n<p><a href=\"/{localLink:umb://document/c90d9c440c3f4ac1b817d8971eb71610}\" title=\"Vehicle\">Vehicle Insurance</a></p>\n<p><a href=\"/{localLink:umb://document/1c43df11c4b041c6beb2bcf30d46cef6}\" title=\"Property\">Property Insurance</a></p>\n<p><a href=\"/{localLink:umb://document/9a0b0ca6f6144bdc9547d4a55c95e170}\" title=\"Personal\">Personal Insurance</a> </p>\n<p><a href=\"/{localLink:umb://document/f592aff288394d059cab47edcca87125}\" title=\"Business\">Business Insurance</a></p>\n<p><a href=\"/{localLink:umb://document/7674190935244867a28ac5140614dfc4}\" title=\"Request Quote\">Request Quote</a></p>\n<p><a href=\"/{localLink:umb://document/2f2ecc7d0d0044aeb79e7629aa3ee4fe}\" title=\"Resources\">Resources</a></p>",
      "actions": null,
      "backgroundImage": [],
      "theme": [
        "invert"
      ],
      "fullWidth": "1",
      "toneImage": "0",
      "tagLine": "Component Name in CMS: Page Footer",
      "componentName": "Page Footer"
    },
    {
      "contentTypeKey": "50e4e13b-7244-4a45-b226-7c586f93bf10",
      "udi": "umb://element/6ada687f204448d9ba77e39cfcad2aee",
      "theme": [
        "default"
      ],
      "fullWidth": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/00c177bd3c514a82a5faa886c62d1458",
      "image": [],
      "caption": "",
      "bodyText": "",
      "actions": null,
      "backgroundImage": [
        {
          "key": "2e3ea2cd-9c6f-4bf6-9d51-d56dd2914e70",
          "mediaKey": "0a56f852-4c3b-4ff8-96fa-379bb789f097"
        }
      ],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "trackImpressions": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/aea3745529f9476ea5fc8543ad614518",
      "image": [],
      "headline": "BUSINESS PROPERTY INSURANCE: PROTECTING YOUR ASSETS",
      "caption": "",
      "bodyText": "<p>Safeguard your business assets with our comprehensive Business Property Insurance. From protecting your physical space to ensuring the security of your equipment and inventory, our coverage is designed to mitigate financial risks. Explore our Business Property Insurance options and access valuable resources to enhance your understanding of protecting your business assets.</p>",
      "actions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/bfb0426d7de44938a96fc72c5bccf598"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "78a2c645-8b8a-4cb1-96b0-3a2105f4a40a",
            "udi": "umb://element/bfb0426d7de44938a96fc72c5bccf598",
            "label": "BUSINESS PROPERTY INSURANCE RESOURCES",
            "target": [
              {
                "name": "Resources",
                "udi": "umb://document/2f2ecc7d0d0044aeb79e7629aa3ee4fe"
              }
            ],
            "isPrimary": "1"
          }
        ],
        "settingsData": []
      },
      "backgroundImage": [],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "trackImpressions": "0"
    }
  ],
  "settingsData": []
}]]></Value>
    </components>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>