<?xml version="1.0" encoding="utf-8"?>
<Content Key="f592aff2-8839-4d05-9cab-47edcca87125" Alias="Business" Level="2">
  <Info>
    <Parent Key="3f0a1a65-d5db-4d3b-a06e-615af4233bd7">Home</Parent>
    <Path>/Home/Business</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-10-09T18:20:52</CreateDate>
    <NodeName Default="Business">
      <Name Culture="en-us">Business</Name>
    </NodeName>
    <SortOrder>8</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="d2cf64ac-3ff8-4e81-a150-dcead48f4b58">ContentPage</Template>
  </Info>
  <Properties>
    <components>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/6cf18fb36648498c9cc1be3430ebf6b7",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/c4fb05b9ba304665853a16fb94ff6772",
        "areas": [
          {
            "key": "900b2dea-7c24-41d1-a94f-710f02c01c62",
            "items": [
              {
                "contentUdi": "umb://element/951a7a9d01c6473bbdd823feee0f72ac",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "85707c55-f442-4752-8da3-980a8e4ab5af",
            "items": [
              {
                "contentUdi": "umb://element/9e17977003d84ed8a477b275bef40c49",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "9629d57a-66ad-491c-ac64-968f0ab4a1f2",
            "items": [
              {
                "contentUdi": "umb://element/cafbcf9633a94056be561616137c7447",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/c9e999e396714ad39f26a73a86334f49",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/466a102f3320431dae3163c8038a37cf",
        "areas": [
          {
            "key": "7fadd01a-6977-41fa-a9b7-677d2f9c2baf",
            "items": [
              {
                "contentUdi": "umb://element/f11f990920fa43f694f8de23c63cfc9f",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "21233b21-9acd-49f1-89e7-62b7a19359b1",
            "items": [
              {
                "contentUdi": "umb://element/464ba4eaa61c4c7ab6229d8cfdfc2b6b",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/417ccfe94a4a46a9b7ef8c4058c98907",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/37209cb8b8d94a9aad0a3e097afde9ae"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/6cf18fb36648498c9cc1be3430ebf6b7",
      "image": [],
      "headline": "Business Insurance",
      "caption": "",
      "actions": null,
      "backgroundImage": [
        {
          "key": "ec9fb38b-8e4f-4b1c-b1a4-165a3bccdfbf",
          "mediaKey": "9238a765-b737-4ad5-8f00-5434f1af9599"
        }
      ],
      "theme": [
        "invert"
      ],
      "fullWidth": "0",
      "toneImage": "1"
    },
    {
      "contentTypeKey": "97c1bbe1-fea8-4a70-8379-f35d331f04c1",
      "udi": "umb://element/c4fb05b9ba304665853a16fb94ff6772",
      "theme": [
        "default"
      ],
      "fullWidth": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/951a7a9d01c6473bbdd823feee0f72ac",
      "image": [],
      "headline": "Business Property Insurance",
      "caption": "",
      "actions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/6dc8427795534874acdaab1c440c629b"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "78a2c645-8b8a-4cb1-96b0-3a2105f4a40a",
            "udi": "umb://element/6dc8427795534874acdaab1c440c629b",
            "label": "Business Property Insurance",
            "target": [
              {
                "name": "Business Property",
                "udi": "umb://document/5d926f1568ea43118f3003fa98f3905b"
              }
            ],
            "isPrimary": "1"
          }
        ],
        "settingsData": []
      },
      "backgroundImage": [
        {
          "key": "d1af52bc-f690-48a3-b87e-60ff9250a61d",
          "mediaKey": "9238a765-b737-4ad5-8f00-5434f1af9599"
        }
      ],
      "theme": [
        "invert"
      ],
      "fullWidth": "0",
      "toneImage": "1",
      "tagLine": "Multi-column Component"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/9e17977003d84ed8a477b275bef40c49",
      "image": [],
      "headline": "Business Auto Insurance",
      "caption": "",
      "actions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/b053a43d88c043b5b1ea80a1c02b5a29"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "78a2c645-8b8a-4cb1-96b0-3a2105f4a40a",
            "udi": "umb://element/b053a43d88c043b5b1ea80a1c02b5a29",
            "label": "Business Auto Insurance",
            "target": [
              {
                "name": "Business Auto",
                "udi": "umb://document/2ed164d2f60543ea8aaa4bd28ad2138a"
              }
            ],
            "isPrimary": "1"
          }
        ],
        "settingsData": []
      },
      "backgroundImage": [
        {
          "key": "610ff21b-cfb5-4c72-843c-5a643d337912",
          "mediaKey": "a69b2706-d9af-44b9-9559-b91c54da8908"
        }
      ],
      "theme": [
        "invert"
      ],
      "fullWidth": "0",
      "toneImage": "1",
      "tagLine": "Multi-column Component"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/cafbcf9633a94056be561616137c7447",
      "image": [],
      "headline": "Farm & Ranch Insurance",
      "caption": "",
      "actions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/5d634c23910e479880735595594c7338"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "78a2c645-8b8a-4cb1-96b0-3a2105f4a40a",
            "udi": "umb://element/5d634c23910e479880735595594c7338",
            "label": "Farm & Ranch Insurance",
            "target": [
              {
                "name": "Farm & Ranch",
                "udi": "umb://document/8c67a618e8694ea6890131434ddf852c"
              }
            ],
            "isPrimary": "1"
          }
        ],
        "settingsData": []
      },
      "backgroundImage": [
        {
          "key": "b3bd0a0e-ea27-4d78-9a19-a8d0cc344e7f",
          "mediaKey": "8f156077-ddd8-4714-a79a-965bcabe26b8"
        }
      ],
      "theme": [
        "invert"
      ],
      "fullWidth": "0",
      "toneImage": "1",
      "tagLine": "Multi-column Component"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/c9e999e396714ad39f26a73a86334f49",
      "image": [],
      "headline": "Why choose us as your business insurance company?",
      "caption": "<p>We’re here to support you: We provide extraordinary care during extraordinary times, serving over half a million small businesses like yours across the nation. We offer a customized variety of commercial insurance products for companies both big and small. With coverage ranging from workers’ compensation to commercial auto insurance, commercial agribusiness insurance and more, we can provide the business solutions you need to run smoothly.</p>",
      "actions": null,
      "backgroundImage": [],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/37209cb8b8d94a9aad0a3e097afde9ae",
      "image": [],
      "caption": "<p><a href=\"/{localLink:umb://document/3f0a1a65d5db4d3ba06e615af4233bd7}\" title=\"Home\">Home</a></p>\n<p><a href=\"/{localLink:umb://document/c90d9c440c3f4ac1b817d8971eb71610}\" title=\"Vehicle\">Vehicle Insurance</a></p>\n<p><a href=\"/{localLink:umb://document/1c43df11c4b041c6beb2bcf30d46cef6}\" title=\"Property\">Property Insurance</a></p>\n<p><a href=\"/{localLink:umb://document/9a0b0ca6f6144bdc9547d4a55c95e170}\" title=\"Personal\">Personal Insurance</a> </p>\n<p><a href=\"/{localLink:umb://document/f592aff288394d059cab47edcca87125}\" title=\"Business\">Business Insurance</a></p>\n<p><a href=\"/{localLink:umb://document/7674190935244867a28ac5140614dfc4}\" title=\"Request Quote\">Request Quote</a></p>\n<p><a href=\"/{localLink:umb://document/2f2ecc7d0d0044aeb79e7629aa3ee4fe}\" title=\"Resources\">Resources</a></p>",
      "actions": null,
      "backgroundImage": [],
      "theme": [
        "invert"
      ],
      "fullWidth": "1",
      "toneImage": "0",
      "tagLine": "Component Name in CMS: Page Footer",
      "componentName": "Page Footer"
    },
    {
      "contentTypeKey": "50e4e13b-7244-4a45-b226-7c586f93bf10",
      "udi": "umb://element/466a102f3320431dae3163c8038a37cf",
      "theme": [
        "default"
      ],
      "fullWidth": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/f11f990920fa43f694f8de23c63cfc9f",
      "image": [
        {
          "key": "62720e18-96bb-4407-8b7a-d34ddd86e40b",
          "mediaKey": "495ac04a-eb25-405b-9644-de872ff47fc8"
        }
      ],
      "headline": "What is professional liability insurance?",
      "caption": "",
      "bodyText": "",
      "actions": null,
      "backgroundImage": [],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "trackImpressions": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/464ba4eaa61c4c7ab6229d8cfdfc2b6b",
      "image": [],
      "caption": "",
      "bodyText": "<p>Professional liability insurance is coverage that protects business professionals, such as attorneys, consultants and accountants, from claims of negligence or mistakes related to the services they provide. It’s often referred to as errors and omissions (E&amp;O) insurance.</p>\n<p>Experts who give advice usually require professional liability coverage because their services can lead to mistakes that can cause financial or indirect loss for their clients. These types of incidents are typically excluded from other business insurance coverages.</p>",
      "actions": null,
      "backgroundImage": [],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "trackImpressions": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/417ccfe94a4a46a9b7ef8c4058c98907",
      "image": [],
      "headline": "What does professional liability insurance cover?",
      "caption": "",
      "bodyText": "<p>Professional liability insurance covers claims of actual or alleged negligence that arise from providing professional services, like giving incorrect advice, an omission or failing to deliver a service. This coverage includes damages and defense costs up to your policy limits, regardless of whether a mistake was made.<br><br>For example, a client claims an accountant filed their taxes incorrectly and caused them to lose a lot of money. The accountant’s professional liability insurance could help cover the legal and settlement costs.<br><br>Many professional liability policies are written on a claims-made basis, which means that coverage is only afforded to claims filed during the policy period. A retroactive date may be added to cover incidents that occur before a policy’s coverage begins.<br><br>Professional liability insurance coverage can protect against claims that arise from services provided in the past and for work performed anywhere in the world.</p>",
      "actions": null,
      "backgroundImage": [],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "trackImpressions": "0"
    }
  ],
  "settingsData": []
}]]></Value>
    </components>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>