<?xml version="1.0" encoding="utf-8"?>
<Content Key="52094eb9-0850-4dcb-a479-4cc44dc8c50a" Alias="Car Insurance" Level="3">
  <Info>
    <Parent Key="c90d9c44-0c3f-4ac1-b817-d8971eb71610">Vehicle</Parent>
    <Path>/Home/Vehicle/CarInsurance</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-10-09T18:52:11</CreateDate>
    <NodeName Default="Car Insurance">
      <Name Culture="en-us">Car Insurance</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="d2cf64ac-3ff8-4e81-a150-dcead48f4b58">ContentPage</Template>
  </Info>
  <Properties>
    <components>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/01b80275722a46369279e88044c55d54",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/5506edf7677b4a57807cca3d423c8575",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/dfc91c8129944ac6aec140a9c3e2f80c",
        "areas": [
          {
            "key": "900b2dea-7c24-41d1-a94f-710f02c01c62",
            "items": [
              {
                "contentUdi": "umb://element/7744996fa9e5436aaab88bbfd903fa37",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "85707c55-f442-4752-8da3-980a8e4ab5af",
            "items": [
              {
                "contentUdi": "umb://element/e18020dce49b4f01b7ea379c29bca4a5",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "9629d57a-66ad-491c-ac64-968f0ab4a1f2",
            "items": [
              {
                "contentUdi": "umb://element/8d7183d067e8488c837e76537bc21240",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/4bd4388cc6a34f448e49734905c55b06",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/9dcda41379464a219bb6e31bed1883ef",
        "areas": [
          {
            "key": "7fadd01a-6977-41fa-a9b7-677d2f9c2baf",
            "items": [
              {
                "contentUdi": "umb://element/3c7cb39aa25244cf8a442c13c6dddf1a",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "21233b21-9acd-49f1-89e7-62b7a19359b1",
            "items": [
              {
                "contentUdi": "umb://element/ebc4bf2957e841eea2626c0ca76abb13",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/9ea9d8e611064123bcea218e9a5d4cec",
        "areas": [
          {
            "key": "900b2dea-7c24-41d1-a94f-710f02c01c62",
            "items": [
              {
                "contentUdi": "umb://element/704f4c4f513c4183927d3fc3c7d0533a",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "85707c55-f442-4752-8da3-980a8e4ab5af",
            "items": [
              {
                "contentUdi": "umb://element/7bf9e946226c404a918559d2ea49ce29",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "9629d57a-66ad-491c-ac64-968f0ab4a1f2",
            "items": [
              {
                "contentUdi": "umb://element/64e752dd82e841aa9e8beb699706899a",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/61a5d00780f74e39b1047fcd142522dc",
        "areas": [
          {
            "key": "7fadd01a-6977-41fa-a9b7-677d2f9c2baf",
            "items": [
              {
                "contentUdi": "umb://element/eb4f9e77e94247a2a10262bdafd219c4",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "21233b21-9acd-49f1-89e7-62b7a19359b1",
            "items": [
              {
                "contentUdi": "umb://element/4a78585d893e48b7b088d11209585133",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/8522be2b03864d26abd6657614357725"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/01b80275722a46369279e88044c55d54",
      "image": [],
      "headline": "Car Insurance",
      "caption": "",
      "actions": null,
      "backgroundImage": [
        {
          "key": "c026fa65-e43b-4659-9a9c-505d12f939aa",
          "mediaKey": "f2c771bb-0e14-47ab-b108-e08294fafe5a"
        }
      ],
      "theme": [
        "invert"
      ],
      "fullWidth": "0",
      "toneImage": "1"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/5506edf7677b4a57807cca3d423c8575",
      "image": [],
      "headline": "Get a car insurance quote today and enjoy the ease of working with us",
      "caption": "<p>Take the first step towards comprehensive protection. Click below to receive your personalized insurance quote within minutes. Our team is dedicated to ensuring you have the coverage you need for a worry-free tomorrow.</p>",
      "actions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/6dc8ecb779264f3c8221738bbda24bc6"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "78a2c645-8b8a-4cb1-96b0-3a2105f4a40a",
            "udi": "umb://element/6dc8ecb779264f3c8221738bbda24bc6",
            "label": "Get Car Insurance Quote",
            "target": [
              {
                "name": "Request Quote",
                "udi": "umb://document/7674190935244867a28ac5140614dfc4"
              }
            ],
            "isPrimary": "1"
          }
        ],
        "settingsData": []
      },
      "backgroundImage": [],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "bodyText": "",
      "trackImpressions": "0"
    },
    {
      "contentTypeKey": "97c1bbe1-fea8-4a70-8379-f35d331f04c1",
      "udi": "umb://element/dfc91c8129944ac6aec140a9c3e2f80c",
      "theme": [
        "default"
      ],
      "fullWidth": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/7744996fa9e5436aaab88bbfd903fa37",
      "image": [
        {
          "key": "1029d9b0-95e6-4b38-8790-e5387d8f2eeb",
          "mediaKey": "b399e6bc-6f4b-4e24-9439-b412f8214cd2"
        }
      ],
      "headline": "",
      "caption": "<p>Discover peace of mind with us. Our comprehensive coverage includes protection for your property, auto, health, and life. From liability to specialized needs, we've got you covered. Trust us for reliable insurance solutions and expert guidance.</p>",
      "actions": null,
      "backgroundImage": [],
      "theme": [
        "default"
      ],
      "fullWidth": "1",
      "toneImage": "0",
      "tagLine": "What we cover",
      "bodyText": "",
      "trackImpressions": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/e18020dce49b4f01b7ea379c29bca4a5",
      "image": [
        {
          "key": "987a2bb2-6c8c-4690-9891-4e48f6f631fd",
          "mediaKey": "b399e6bc-6f4b-4e24-9439-b412f8214cd2"
        }
      ],
      "headline": "",
      "caption": "<p>Drive confidently with us. Our Accident Forgiveness feature ensures your first at-fault incident won't spike your premiums. We prioritize your peace of mind, offering support when you need it most.</p>",
      "actions": null,
      "backgroundImage": [],
      "theme": [
        "default"
      ],
      "fullWidth": "1",
      "toneImage": "0",
      "tagLine": "Accident Forgiveness",
      "bodyText": "",
      "trackImpressions": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/4bd4388cc6a34f448e49734905c55b06",
      "image": [],
      "headline": "Understand your state’s car insurance requirements",
      "caption": "<p>Auto insurance isn’t only great protection for your vehicle, it’s also the law. All states require some degree of insurance for your vehicle to protect you and other motorists. Coverage requirements will vary based on your financial responsibility for your car and your state’s requirements. Some states even require you to have liability insurance before you even get a license.</p>",
      "actions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/023914fa365543c3ac0421e36c2c4d40"
            },
            {
              "contentUdi": "umb://element/619a18fdc84c4b9d9139790de0f7cf58"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "78a2c645-8b8a-4cb1-96b0-3a2105f4a40a",
            "udi": "umb://element/023914fa365543c3ac0421e36c2c4d40",
            "label": "EU Car Insurance Regulations",
            "target": [
              {
                "name": "Car insurance regulations in EU",
                "target": "_blank",
                "url": "https://finance.ec.europa.eu/banking/insurance/motor-insurance_en"
              }
            ],
            "isPrimary": "0"
          },
          {
            "contentTypeKey": "78a2c645-8b8a-4cb1-96b0-3a2105f4a40a",
            "udi": "umb://element/619a18fdc84c4b9d9139790de0f7cf58",
            "label": "US Car Insurance Regulations",
            "target": [
              {
                "name": "US Regulations for Car Insurance",
                "target": "_blank",
                "url": "https://www.state.gov/vehicle-liability-insurance-requirements/"
              }
            ],
            "isPrimary": "0"
          }
        ],
        "settingsData": []
      },
      "backgroundImage": [],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "bodyText": "",
      "trackImpressions": "1"
    },
    {
      "contentTypeKey": "50e4e13b-7244-4a45-b226-7c586f93bf10",
      "udi": "umb://element/9dcda41379464a219bb6e31bed1883ef",
      "theme": [
        "default"
      ],
      "fullWidth": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/3c7cb39aa25244cf8a442c13c6dddf1a",
      "image": [],
      "caption": "",
      "actions": null,
      "backgroundImage": [
        {
          "key": "2018e718-3347-4678-b71c-c5111a5e07bf",
          "mediaKey": "a69b2706-d9af-44b9-9559-b91c54da8908"
        }
      ],
      "theme": [
        "default"
      ],
      "fullWidth": "0",
      "toneImage": "1"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/ebc4bf2957e841eea2626c0ca76abb13",
      "tagLine": "See All Vehicle Insurance ",
      "image": [],
      "caption": "<p>Our commitment to comprehensive coverage extends beyond traditional vehicles. Whether you own a car, motorcycle, RV, or boat, we have tailored insurance solutions to safeguard your adventures.</p>",
      "actions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/b43a99d7c317405bb1177549757b3e82"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "78a2c645-8b8a-4cb1-96b0-3a2105f4a40a",
            "udi": "umb://element/b43a99d7c317405bb1177549757b3e82",
            "label": "Vehicle insurance",
            "target": [
              {
                "name": "Vehicle Insurance",
                "udi": "umb://document/c90d9c440c3f4ac1b817d8971eb71610"
              }
            ],
            "isPrimary": "1"
          }
        ],
        "settingsData": []
      },
      "backgroundImage": [],
      "theme": [
        "default"
      ],
      "fullWidth": "0",
      "toneImage": "0",
      "bodyText": "",
      "trackImpressions": "0"
    },
    {
      "contentTypeKey": "97c1bbe1-fea8-4a70-8379-f35d331f04c1",
      "udi": "umb://element/9ea9d8e611064123bcea218e9a5d4cec",
      "theme": [
        "default"
      ],
      "fullWidth": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/704f4c4f513c4183927d3fc3c7d0533a",
      "image": [],
      "headline": "Bundle Car and Truck Insurance",
      "caption": "",
      "actions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/0e9c5755793f4118abacafc3ab2a90f1"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "78a2c645-8b8a-4cb1-96b0-3a2105f4a40a",
            "udi": "umb://element/0e9c5755793f4118abacafc3ab2a90f1",
            "label": "Bundle Car and Truck Insurance",
            "target": [
              {
                "name": "Truck Insurance",
                "udi": "umb://document/3c841bd32feb4f95abebd34286eab50d"
              }
            ],
            "isPrimary": "0"
          }
        ],
        "settingsData": []
      },
      "backgroundImage": [
        {
          "key": "d07f4432-d7d2-49d1-b3b3-8cc137978db8",
          "mediaKey": "2bd39996-8847-408f-9573-4df992a657b2"
        }
      ],
      "theme": [
        "invert"
      ],
      "fullWidth": "0",
      "toneImage": "1"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/64e752dd82e841aa9e8beb699706899a",
      "tagLine": "",
      "image": [],
      "caption": "",
      "actions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/9f810e0510ef40e3a56a32ceaddc65b1"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "78a2c645-8b8a-4cb1-96b0-3a2105f4a40a",
            "udi": "umb://element/9f810e0510ef40e3a56a32ceaddc65b1",
            "label": "Bundle Car & Moto Insurance",
            "target": [
              {
                "name": "Motorcycle insurance",
                "udi": "umb://document/ff6963e2ac8a4d13bee1dc10aba2ac0e"
              }
            ],
            "isPrimary": "0"
          }
        ],
        "settingsData": []
      },
      "backgroundImage": [
        {
          "key": "23bce585-54d5-42a4-a1d8-2b76c11414a6",
          "mediaKey": "d5b99d3e-ba57-4c23-8e69-8969e165c2e6"
        }
      ],
      "theme": [
        "invert"
      ],
      "fullWidth": "1",
      "toneImage": "1",
      "headline": "Bundle Car & Moto Insurance"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/7bf9e946226c404a918559d2ea49ce29",
      "image": [],
      "caption": "<p>Ready to secure your peace of mind? Click below to get your personalized insurance quote in minutes.</p>",
      "actions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/df7979159472415a98467e9cdcfa24d0"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "78a2c645-8b8a-4cb1-96b0-3a2105f4a40a",
            "udi": "umb://element/df7979159472415a98467e9cdcfa24d0",
            "label": "Request Quote",
            "target": [
              {
                "name": "Request Quote",
                "udi": "umb://document/7674190935244867a28ac5140614dfc4"
              }
            ],
            "isPrimary": "1"
          }
        ],
        "settingsData": []
      },
      "backgroundImage": [],
      "theme": [
        "invert"
      ],
      "fullWidth": "0",
      "toneImage": "0",
      "tagLine": "Get Quote",
      "bodyText": "",
      "trackImpressions": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/8522be2b03864d26abd6657614357725",
      "image": [],
      "caption": "<p><a href=\"/{localLink:umb://document/3f0a1a65d5db4d3ba06e615af4233bd7}\" title=\"Home\">Home</a></p>\n<p><a href=\"/{localLink:umb://document/c90d9c440c3f4ac1b817d8971eb71610}\" title=\"Vehicle\">Vehicle Insurance</a></p>\n<p><a href=\"/{localLink:umb://document/1c43df11c4b041c6beb2bcf30d46cef6}\" title=\"Property\">Property Insurance</a></p>\n<p><a href=\"/{localLink:umb://document/9a0b0ca6f6144bdc9547d4a55c95e170}\" title=\"Personal\">Personal Insurance</a> </p>\n<p><a href=\"/{localLink:umb://document/f592aff288394d059cab47edcca87125}\" title=\"Business\">Business Insurance</a></p>\n<p><a href=\"/{localLink:umb://document/7674190935244867a28ac5140614dfc4}\" title=\"Request Quote\">Request Quote</a></p>\n<p><a href=\"/{localLink:umb://document/2f2ecc7d0d0044aeb79e7629aa3ee4fe}\" title=\"Resources\">Resources</a></p>",
      "actions": null,
      "backgroundImage": [],
      "theme": [
        "invert"
      ],
      "fullWidth": "1",
      "toneImage": "0",
      "tagLine": "Component Name in CMS: Page Footer",
      "componentName": "Page Footer"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/8d7183d067e8488c837e76537bc21240",
      "tagLine": "CAR INSURANCE DISCOUNTS",
      "image": [
        {
          "key": "bbb64689-e246-4637-85de-c7535012d6f9",
          "mediaKey": "b399e6bc-6f4b-4e24-9439-b412f8214cd2"
        }
      ],
      "caption": "<p>Maximize savings with us. Enjoy exclusive Car Insurance Discounts for safe driving and responsible behavior. From a clean driving record to safety features, we reward your commitment to road safety.</p>",
      "bodyText": "",
      "actions": null,
      "backgroundImage": [],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "trackImpressions": "0"
    },
    {
      "contentTypeKey": "50e4e13b-7244-4a45-b226-7c586f93bf10",
      "udi": "umb://element/61a5d00780f74e39b1047fcd142522dc",
      "theme": [
        "default"
      ],
      "fullWidth": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/4a78585d893e48b7b088d11209585133",
      "image": [],
      "caption": "",
      "bodyText": "",
      "actions": null,
      "backgroundImage": [
        {
          "key": "f69d6c1e-56c9-47a0-ac23-4eeb6964e807",
          "mediaKey": "414c4d2a-693f-4040-bf72-72e785374cd7",
          "focalPoint": {
            "left": 0.832,
            "top": 0.7366666666666667
          }
        }
      ],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "trackImpressions": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/eb4f9e77e94247a2a10262bdafd219c4",
      "tagLine": "HEALTH COVERAGE FOR A SECURE TOMORROW",
      "image": [],
      "caption": "<p>Your well-being is our priority. While we ensure your vehicles are protected on the road, we also care about your health off the road. Explore our comprehensive Health Insurance options for a secure tomorrow.</p>",
      "bodyText": "",
      "actions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/09a06d1ae428430399ef794cb967720a"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "78a2c645-8b8a-4cb1-96b0-3a2105f4a40a",
            "udi": "umb://element/09a06d1ae428430399ef794cb967720a",
            "label": "Explore Health Insurance Now",
            "target": [
              {
                "name": "Life Insurance",
                "udi": "umb://document/6c5e89472f354eaa9c97de03163a1b05"
              }
            ],
            "isPrimary": "1"
          }
        ],
        "settingsData": []
      },
      "backgroundImage": [],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "trackImpressions": "0"
    }
  ],
  "settingsData": []
}]]></Value>
    </components>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>