<?xml version="1.0" encoding="utf-8"?>
<Content Key="080670ae-79dc-4928-ab25-f85d6ab46385" Alias="Family Resources" Level="3">
  <Info>
    <Parent Key="2f2ecc7d-0d00-44ae-b79e-7629aa3ee4fe">Resources</Parent>
    <Path>/Home/Resources/FamilyResources</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-10-10T07:12:00</CreateDate>
    <NodeName Default="Family Resources">
      <Name Culture="en-us">Family Resources</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="d2cf64ac-3ff8-4e81-a150-dcead48f4b58">ContentPage</Template>
  </Info>
  <Properties>
    <components>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/555ae747fa654118ae62519d61fd2bb7",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/2018cb2cb6b749e0a9d3d46573d117e1",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/5ac8a93520824898b77c1329f735e30b",
        "areas": [
          {
            "key": "7fadd01a-6977-41fa-a9b7-677d2f9c2baf",
            "items": [
              {
                "contentUdi": "umb://element/b423fb775d024ec28f142e9825734c34",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "21233b21-9acd-49f1-89e7-62b7a19359b1",
            "items": [
              {
                "contentUdi": "umb://element/db8b0e03c17841a0a9b33fe6b6e99278",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/3b4b7c4b12e1419b88b1be706368fa71",
        "areas": [
          {
            "key": "7fadd01a-6977-41fa-a9b7-677d2f9c2baf",
            "items": [
              {
                "contentUdi": "umb://element/010a1c90fb6348eb95541b1db6d361db",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "21233b21-9acd-49f1-89e7-62b7a19359b1",
            "items": [
              {
                "contentUdi": "umb://element/0b077e46d4324b8b8e8f554b73c80320",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/b25ea6796b9e4ef7a0b3d37cec1cbdb6",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/f81fc2f637fd447eb0e9d00992948d6d",
        "areas": [
          {
            "key": "900b2dea-7c24-41d1-a94f-710f02c01c62",
            "items": [
              {
                "contentUdi": "umb://element/ff67c8dfb778414699d6735dc36f7f50",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "85707c55-f442-4752-8da3-980a8e4ab5af",
            "items": [
              {
                "contentUdi": "umb://element/f055486bc3fd4d478083d7cd6d130142",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "9629d57a-66ad-491c-ac64-968f0ab4a1f2",
            "items": [
              {
                "contentUdi": "umb://element/3a862f6146734ca2abb43fa3b2b03469",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/d0314166151b49cc9e72b5bf7267d17d",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/eba495c5d727421e9807bde937b2860e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/555ae747fa654118ae62519d61fd2bb7",
      "image": [],
      "headline": "Insurance Resources for Families",
      "caption": "",
      "actions": null,
      "backgroundImage": [
        {
          "key": "ec36c710-9d75-4415-8e83-c7ba88a6f9db",
          "mediaKey": "00d48c7f-4196-4dd8-b4d7-d6f58493df8a"
        }
      ],
      "theme": [
        "invert"
      ],
      "fullWidth": "0",
      "toneImage": "1"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/b25ea6796b9e4ef7a0b3d37cec1cbdb6",
      "tagLine": "",
      "image": [],
      "caption": "",
      "actions": null,
      "backgroundImage": [
        {
          "key": "2c3e0b09-ce4f-49d8-95eb-c63138120eaa",
          "mediaKey": "4663acae-d534-4957-99fd-f7e68dd29363"
        }
      ],
      "theme": [
        "invert"
      ],
      "fullWidth": "0",
      "toneImage": "0",
      "headline": "Personal and family coverage solutions"
    },
    {
      "contentTypeKey": "97c1bbe1-fea8-4a70-8379-f35d331f04c1",
      "udi": "umb://element/f81fc2f637fd447eb0e9d00992948d6d",
      "theme": [
        "default"
      ],
      "fullWidth": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/ff67c8dfb778414699d6735dc36f7f50",
      "tagLine": "Identity theft and cyber protection",
      "image": [
        {
          "key": "85e4d5a0-6fb1-468f-9896-8c3e269a8206",
          "mediaKey": "6f12c22c-5119-4281-9899-04a8b119b5bb"
        }
      ],
      "caption": "",
      "actions": null,
      "backgroundImage": [],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "bodyText": "<p>Protect your family from online threats. Learn about the importance of cybersecurity, secure password practices, and how to safeguard against identity theft.</p>",
      "trackImpressions": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/f055486bc3fd4d478083d7cd6d130142",
      "tagLine": "Family protection",
      "image": [
        {
          "key": "f5f31891-e58d-457c-96df-490935031fb9",
          "mediaKey": "0f772bfc-d84b-41c9-801e-da9264ed2962"
        }
      ],
      "caption": "",
      "actions": null,
      "backgroundImage": [],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "bodyText": "<p>Ensuring the safety and well-being of your loved ones is our priority. Discover resources on emergency preparedness, child safety, and family health to create a secure environment.</p>",
      "trackImpressions": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/3a862f6146734ca2abb43fa3b2b03469",
      "tagLine": "Preserving wealth for the next generation",
      "image": [
        {
          "key": "54fa4387-16bc-4fda-9748-263ac0efe575",
          "mediaKey": "d303eeb8-8f3b-45fa-a154-ac86834ca5d3"
        }
      ],
      "caption": "",
      "actions": null,
      "backgroundImage": [],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "bodyText": "<p>Secure your family's financial legacy. Explore strategies for wealth preservation, estate planning, and passing on a secure financial foundation to future generations.</p>",
      "trackImpressions": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/eba495c5d727421e9807bde937b2860e",
      "image": [],
      "caption": "<p><a href=\"/{localLink:umb://document/3f0a1a65d5db4d3ba06e615af4233bd7}\" title=\"Home\">Home</a></p>\n<p><a href=\"/{localLink:umb://document/c90d9c440c3f4ac1b817d8971eb71610}\" title=\"Vehicle\">Vehicle Insurance</a></p>\n<p><a href=\"/{localLink:umb://document/1c43df11c4b041c6beb2bcf30d46cef6}\" title=\"Property\">Property Insurance</a></p>\n<p><a href=\"/{localLink:umb://document/9a0b0ca6f6144bdc9547d4a55c95e170}\" title=\"Personal\">Personal Insurance</a> </p>\n<p><a href=\"/{localLink:umb://document/f592aff288394d059cab47edcca87125}\" title=\"Business\">Business Insurance</a></p>\n<p><a href=\"/{localLink:umb://document/7674190935244867a28ac5140614dfc4}\" title=\"Request Quote\">Request Quote</a></p>\n<p><a href=\"/{localLink:umb://document/2f2ecc7d0d0044aeb79e7629aa3ee4fe}\" title=\"Resources\">Resources</a></p>",
      "actions": null,
      "backgroundImage": [],
      "theme": [
        "invert"
      ],
      "fullWidth": "1",
      "toneImage": "0",
      "tagLine": "Component Name in CMS: Page Footer",
      "componentName": "Page Footer"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/2018cb2cb6b749e0a9d3d46573d117e1",
      "image": [],
      "headline": "Welcome",
      "caption": "",
      "bodyText": "<p>Welcome to [Your Fake Insurance Company], where we care about the well-being of your family. Explore our curated resources to help you make informed decisions for a secure future.</p>",
      "actions": null,
      "backgroundImage": [],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "trackImpressions": "0"
    },
    {
      "contentTypeKey": "50e4e13b-7244-4a45-b226-7c586f93bf10",
      "udi": "umb://element/5ac8a93520824898b77c1329f735e30b",
      "theme": [
        "default"
      ],
      "fullWidth": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/b423fb775d024ec28f142e9825734c34",
      "image": [],
      "caption": "",
      "bodyText": "",
      "actions": null,
      "backgroundImage": [
        {
          "key": "8afacf18-7587-4f13-a772-3917ac287627",
          "mediaKey": "495ac04a-eb25-405b-9644-de872ff47fc8"
        }
      ],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "trackImpressions": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/db8b0e03c17841a0a9b33fe6b6e99278",
      "image": [],
      "headline": "Understanding Insurance",
      "caption": "",
      "bodyText": "<h4><strong>What is Insurance?</strong></h4>\n<p>Insurance is a financial safety net that protects you and your loved ones against unexpected events. Learn more about the basics of insurance and how it works.</p>\n<p> </p>\n<p><span style=\"text-decoration: underline;\"><a rel=\"noopener\" href=\"https://www.iii.org/insurance-basics\" target=\"_blank\" title=\"Read more about insurance basics\">Read more about insurance basics</a></span></p>\n<p> </p>\n<h4><strong>Types of Insurance</strong></h4>\n<p>Explore different types of insurance policies tailored for families, including life insurance, health insurance, and property insurance.</p>\n<p> </p>\n<p><span style=\"text-decoration: underline;\"><a rel=\"noopener\" href=\"https://www.forbes.com/advisor/insurance/types-of-insurance-policies/\" target=\"_blank\" data-anchor=\"#\">Read more about different types of insurances</a></span></p>",
      "actions": null,
      "backgroundImage": [],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "trackImpressions": "0"
    },
    {
      "contentTypeKey": "50e4e13b-7244-4a45-b226-7c586f93bf10",
      "udi": "umb://element/3b4b7c4b12e1419b88b1be706368fa71",
      "theme": [
        "default"
      ],
      "fullWidth": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/0b077e46d4324b8b8e8f554b73c80320",
      "image": [],
      "caption": "",
      "bodyText": "",
      "actions": null,
      "backgroundImage": [
        {
          "key": "fb3b511e-1f66-41ce-add6-5f352a4c868c",
          "mediaKey": "00d48c7f-4196-4dd8-b4d7-d6f58493df8a"
        }
      ],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "trackImpressions": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/010a1c90fb6348eb95541b1db6d361db",
      "image": [],
      "headline": "Financial Planning for Families",
      "caption": "",
      "bodyText": "<h4><strong>Creating a Budget</strong></h4>\n<p>Effective financial planning is crucial for the well-being of your family. Discover tips on creating a family budget to manage expenses wisely.</p>\n<p> </p>\n<p><span style=\"text-decoration: underline;\"><a rel=\"noopener\" href=\"https://www.ramseysolutions.com/budgeting/how-to-create-a-family-budget\" target=\"_blank\" data-anchor=\"#\">Get started with family budgeting</a></span></p>\n<p> </p>\n<h4><strong>Emergency Funds</strong></h4>\n<p>Prepare for the unexpected by establishing an emergency fund. Learn how having a financial safety net can provide peace of mind for your family.</p>\n<p> </p>\n<p><span style=\"text-decoration: underline;\"><a rel=\"noopener\" href=\"https://www.securian.com/insights-tools/articles/5-steps-to-building-an-emergency-fund.html\" target=\"_blank\" data-anchor=\"#\">Build your emergency fund</a></span></p>",
      "actions": null,
      "backgroundImage": [],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "trackImpressions": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/d0314166151b49cc9e72b5bf7267d17d",
      "image": [],
      "caption": "",
      "bodyText": "",
      "actions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/6efbdaabfa4c4315a995066f90a7cb0b"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "78a2c645-8b8a-4cb1-96b0-3a2105f4a40a",
            "udi": "umb://element/6efbdaabfa4c4315a995066f90a7cb0b",
            "label": "Request Quote",
            "target": [
              {
                "name": "Request Quote",
                "udi": "umb://document/7674190935244867a28ac5140614dfc4"
              }
            ],
            "isPrimary": "0"
          }
        ],
        "settingsData": []
      },
      "backgroundImage": [],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "trackImpressions": "0",
      "headline": "Request a quote on a family insurance today"
    }
  ],
  "settingsData": []
}]]></Value>
    </components>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>