<?xml version="1.0" encoding="utf-8"?>
<Content Key="8c67a618-e869-4ea6-8901-31434ddf852c" Alias="Farm &amp; Ranch" Level="3">
  <Info>
    <Parent Key="f592aff2-8839-4d05-9cab-47edcca87125">Business</Parent>
    <Path>/Home/Business/FarmRanch</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-10-10T07:10:42</CreateDate>
    <NodeName Default="Farm &amp; Ranch">
      <Name Culture="en-us">Farm &amp; Ranch</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="d2cf64ac-3ff8-4e81-a150-dcead48f4b58">ContentPage</Template>
  </Info>
  <Properties>
    <components>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/c0e707c5eced419f86b6d6db2f3b86c7",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/0a83296ace6a4ae8bd0ce368dbb59f25",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/7ba17dada1b74a32869b01ba457e66a2",
        "areas": [
          {
            "key": "7fadd01a-6977-41fa-a9b7-677d2f9c2baf",
            "items": [
              {
                "contentUdi": "umb://element/a41e9a64fbb14ec0b34d7016e5dbaec1",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "21233b21-9acd-49f1-89e7-62b7a19359b1",
            "items": [
              {
                "contentUdi": "umb://element/13cb4bc470d840839ccbfadb69229877",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/994ede5d02ba4ab9988efc3ad117d40c",
        "areas": [
          {
            "key": "900b2dea-7c24-41d1-a94f-710f02c01c62",
            "items": [
              {
                "contentUdi": "umb://element/000ebbf734c44a4eaf977549e3dfa833",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "85707c55-f442-4752-8da3-980a8e4ab5af",
            "items": [
              {
                "contentUdi": "umb://element/ef5cd58c1da94b8aa2e78dbe54bb0948",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "9629d57a-66ad-491c-ac64-968f0ab4a1f2",
            "items": [
              {
                "contentUdi": "umb://element/d72c9b33aeef492893b471a927edf4ec",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/c9c17dd4b1bc4a57bf54110ea088cf2d",
        "areas": [
          {
            "key": "7fadd01a-6977-41fa-a9b7-677d2f9c2baf",
            "items": [
              {
                "contentUdi": "umb://element/7847ead5de084187bb252da24360adbc",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "21233b21-9acd-49f1-89e7-62b7a19359b1",
            "items": [
              {
                "contentUdi": "umb://element/35872db3a0864ff4aad58d09fb7f9b5b",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/4a15e6a286594f9b89d4348e722a2aa0",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/c0e707c5eced419f86b6d6db2f3b86c7",
      "image": [],
      "headline": "Farm & Ranch Insurance",
      "caption": "",
      "actions": null,
      "backgroundImage": [
        {
          "key": "ef70f436-f911-4279-b92e-cbb04e06d111",
          "mediaKey": "8f156077-ddd8-4714-a79a-965bcabe26b8"
        }
      ],
      "theme": [
        "invert"
      ],
      "fullWidth": "0",
      "toneImage": "1"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/0a83296ace6a4ae8bd0ce368dbb59f25",
      "image": [],
      "headline": "Get a tailored farm and ranch policy",
      "caption": "<p>Protect your farm or ranch with a tailored policy that combines various coverages into one convenient package. A ranch insurance policy covers your property and provides liability coverage that can be tailored to the needs of your home and ranch operations. While ranch insurance policies differ, in general you’ll find four areas of protection:</p>",
      "actions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/9c69f97ed60c4f208fe97f5fe1deb193"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "78a2c645-8b8a-4cb1-96b0-3a2105f4a40a",
            "udi": "umb://element/9c69f97ed60c4f208fe97f5fe1deb193",
            "label": "Request quote",
            "target": [
              {
                "name": "Request Quote",
                "udi": "umb://document/7674190935244867a28ac5140614dfc4"
              }
            ],
            "isPrimary": "1"
          }
        ],
        "settingsData": []
      },
      "backgroundImage": [],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "tagLine": "Farm & Ranch Insurance",
      "bodyText": "",
      "trackImpressions": "0"
    },
    {
      "contentTypeKey": "50e4e13b-7244-4a45-b226-7c586f93bf10",
      "udi": "umb://element/7ba17dada1b74a32869b01ba457e66a2",
      "theme": [
        "default"
      ],
      "fullWidth": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/a41e9a64fbb14ec0b34d7016e5dbaec1",
      "image": [],
      "headline": "",
      "caption": "",
      "actions": null,
      "backgroundImage": [
        {
          "key": "f9a85898-ac5b-4fdf-b4dd-b90dd61346b9",
          "mediaKey": "8f156077-ddd8-4714-a79a-965bcabe26b8"
        }
      ],
      "theme": [
        "invert"
      ],
      "fullWidth": "0",
      "toneImage": "1",
      "bodyText": "",
      "trackImpressions": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/13cb4bc470d840839ccbfadb69229877",
      "image": [],
      "headline": "Farm insurance packages for your farm or ranch",
      "caption": "",
      "actions": null,
      "backgroundImage": [],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "bodyText": "<p>Explore tailored Farm Insurance packages designed to safeguard your farm or ranch. Our comprehensive coverage goes beyond standard insurance, addressing the unique risks and needs of agricultural operations. From protecting livestock and equipment to mitigating liability, our packages provide the financial security your farming venture requires. Explore our Farm Insurance options and ensure the continued success of your agricultural enterprise.</p>",
      "trackImpressions": "0"
    },
    {
      "contentTypeKey": "97c1bbe1-fea8-4a70-8379-f35d331f04c1",
      "udi": "umb://element/994ede5d02ba4ab9988efc3ad117d40c",
      "theme": [
        "default"
      ],
      "fullWidth": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/000ebbf734c44a4eaf977549e3dfa833",
      "tagLine": "AgriChoice",
      "image": [],
      "caption": "<p>Protection for traditional farms and ranches.</p>",
      "actions": null,
      "backgroundImage": [],
      "theme": [
        "invert"
      ],
      "fullWidth": "0",
      "toneImage": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/ef5cd58c1da94b8aa2e78dbe54bb0948",
      "tagLine": "AgriChoice Plus",
      "image": [],
      "caption": "<p>Protection for expanding farms and ranches with related commercial exposure.</p>",
      "actions": null,
      "backgroundImage": [],
      "theme": [
        "invert"
      ],
      "fullWidth": "0",
      "toneImage": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/d72c9b33aeef492893b471a927edf4ec",
      "tagLine": "CountryChoice",
      "image": [],
      "caption": "<p id=\"mopDesc02\" class=\"mopDesc\">Protection for smaller farm and ranch operations.</p>\n<p> </p>",
      "actions": null,
      "backgroundImage": [],
      "theme": [
        "invert"
      ],
      "fullWidth": "0",
      "toneImage": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/4a15e6a286594f9b89d4348e722a2aa0",
      "image": [],
      "caption": "<p><a href=\"/{localLink:umb://document/3f0a1a65d5db4d3ba06e615af4233bd7}\" title=\"Home\">Home</a></p>\n<p><a href=\"/{localLink:umb://document/c90d9c440c3f4ac1b817d8971eb71610}\" title=\"Vehicle\">Vehicle Insurance</a></p>\n<p><a href=\"/{localLink:umb://document/1c43df11c4b041c6beb2bcf30d46cef6}\" title=\"Property\">Property Insurance</a></p>\n<p><a href=\"/{localLink:umb://document/9a0b0ca6f6144bdc9547d4a55c95e170}\" title=\"Personal\">Personal Insurance</a> </p>\n<p><a href=\"/{localLink:umb://document/f592aff288394d059cab47edcca87125}\" title=\"Business\">Business Insurance</a></p>\n<p><a href=\"/{localLink:umb://document/7674190935244867a28ac5140614dfc4}\" title=\"Request Quote\">Request Quote</a></p>\n<p><a href=\"/{localLink:umb://document/2f2ecc7d0d0044aeb79e7629aa3ee4fe}\" title=\"Resources\">Resources</a></p>",
      "actions": null,
      "backgroundImage": [],
      "theme": [
        "invert"
      ],
      "fullWidth": "1",
      "toneImage": "0",
      "tagLine": "Component Name in CMS: Page Footer",
      "componentName": "Page Footer"
    },
    {
      "contentTypeKey": "50e4e13b-7244-4a45-b226-7c586f93bf10",
      "udi": "umb://element/c9c17dd4b1bc4a57bf54110ea088cf2d",
      "theme": [
        "default"
      ],
      "fullWidth": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/35872db3a0864ff4aad58d09fb7f9b5b",
      "image": [],
      "caption": "",
      "bodyText": "",
      "actions": null,
      "backgroundImage": [
        {
          "key": "b01593b7-26c9-46ae-96f1-096f1db8661d",
          "mediaKey": "a8e6ac89-2d1b-4334-a6f9-5d159d3abaf3"
        }
      ],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "trackImpressions": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/7847ead5de084187bb252da24360adbc",
      "image": [],
      "headline": "FARM INSURANCE RESOURCES: INVALUABLE GUIDANCE FOR AGRICULTURAL PROTECTION",
      "caption": "",
      "bodyText": "<p>Access essential information and insights with our Farm Insurance Resources—a valuable resource center for informed decision-making about protecting your agricultural enterprise. From understanding coverage options to implementing risk management strategies, our resources empower you to navigate the complexities of Farm Insurance. Click below to access our Farm Insurance Resources page and ensure your farm or ranch is well-protected.</p>",
      "actions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/63130c1439644adf9945b0a5a2974228"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "78a2c645-8b8a-4cb1-96b0-3a2105f4a40a",
            "udi": "umb://element/63130c1439644adf9945b0a5a2974228",
            "label": "FARM INSURANCE RESOURCES",
            "target": [
              {
                "name": "Resources",
                "udi": "umb://document/2f2ecc7d0d0044aeb79e7629aa3ee4fe"
              }
            ],
            "isPrimary": "1"
          }
        ],
        "settingsData": []
      },
      "backgroundImage": [],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "trackImpressions": "0"
    }
  ],
  "settingsData": []
}]]></Value>
    </components>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>