<?xml version="1.0" encoding="utf-8"?>
<Content Key="50308bae-ceb0-4ade-a925-92c7b7336463" Alias="Flood Insurance" Level="3">
  <Info>
    <Parent Key="1c43df11-c4b0-41c6-beb2-bcf30d46cef6">Property</Parent>
    <Path>/Home/Property/FloodInsurance</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-10-10T07:05:09</CreateDate>
    <NodeName Default="Flood Insurance">
      <Name Culture="en-us">Flood Insurance</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="d2cf64ac-3ff8-4e81-a150-dcead48f4b58">ContentPage</Template>
  </Info>
  <Properties>
    <components>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/124bfc18cf2a4efb9733b3c64b4dad57",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/de382daf65df4ffe92dc6982ebc7803a",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/12d79a0c8aef4f0eaad171c3745c2659",
        "areas": [
          {
            "key": "7fadd01a-6977-41fa-a9b7-677d2f9c2baf",
            "items": [
              {
                "contentUdi": "umb://element/24b760d9253841128e769ccd7ebbdefe",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "21233b21-9acd-49f1-89e7-62b7a19359b1",
            "items": [
              {
                "contentUdi": "umb://element/3c15c5068022468c97def2b7e3480215",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/8e4f11b85822449fb3abb01bcda554ec",
        "areas": [
          {
            "key": "900b2dea-7c24-41d1-a94f-710f02c01c62",
            "items": [
              {
                "contentUdi": "umb://element/1e70d8298f9e4febbb184bab4275ee3b",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "85707c55-f442-4752-8da3-980a8e4ab5af",
            "items": [
              {
                "contentUdi": "umb://element/3cadd902cb2149b083cd6ce9bc1c6332",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "9629d57a-66ad-491c-ac64-968f0ab4a1f2",
            "items": [
              {
                "contentUdi": "umb://element/c2ce7c211d234ab1aee3c6a1d4d1d0d5",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/57b1a71753664d4ca1647ab0052ec4e2"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/124bfc18cf2a4efb9733b3c64b4dad57",
      "image": [],
      "headline": "Flood Insurance",
      "caption": "",
      "actions": null,
      "backgroundImage": [
        {
          "key": "d5d810c2-99ee-4a4a-9686-46bec1b6020a",
          "mediaKey": "a7371173-2949-43b6-a3e4-93eedd604f40"
        }
      ],
      "theme": [
        "invert"
      ],
      "fullWidth": "0",
      "toneImage": "1"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/de382daf65df4ffe92dc6982ebc7803a",
      "image": [],
      "headline": "Get a Flood Insurance Quote & Buy Online",
      "caption": "<p>For many homeowners, flood insurance is an essential extra layer of protection.</p>",
      "actions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/d93863c51adc4c53a12ee27843dd7e14"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "78a2c645-8b8a-4cb1-96b0-3a2105f4a40a",
            "udi": "umb://element/d93863c51adc4c53a12ee27843dd7e14",
            "label": "Request quote",
            "target": [
              {
                "name": "Request Quote",
                "udi": "umb://document/7674190935244867a28ac5140614dfc4"
              }
            ],
            "isPrimary": "1"
          }
        ],
        "settingsData": []
      },
      "backgroundImage": [],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "bodyText": "<p>Safeguard your home and belongings from the unpredictable forces of nature with our Flood Insurance. Essential protection against flood-induced damages ensures that you're prepared for the unexpected. Don't risk being caught unprepared—explore our Flood Insurance options today and secure the coverage you need for peace of mind.</p>",
      "trackImpressions": "0"
    },
    {
      "contentTypeKey": "50e4e13b-7244-4a45-b226-7c586f93bf10",
      "udi": "umb://element/12d79a0c8aef4f0eaad171c3745c2659",
      "theme": [
        "invert"
      ],
      "fullWidth": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/24b760d9253841128e769ccd7ebbdefe",
      "tagLine": "",
      "image": [],
      "caption": "",
      "actions": null,
      "backgroundImage": [
        {
          "key": "393ca31e-f50c-4bbc-8339-e2f01e5054ef",
          "mediaKey": "e8532533-ccb1-4dd1-8eb2-ef2ed2dda43b"
        }
      ],
      "theme": [
        "invert"
      ],
      "fullWidth": "0",
      "toneImage": "1",
      "headline": "What flood insurance covers"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/3c15c5068022468c97def2b7e3480215",
      "image": [],
      "caption": "<p>A flood insurance policy typically covers you if groundwater rises and floods your home—a situation that isn't usually covered by homeowners insurance policies. Generally, most of your house is covered by flood insurance.</p>\n<p>Specifically, the core parts of your home—like the home foundation and the systems that keep it running—are typically covered. Built-in home appliances, like refrigerators, dishwashers, and stoves, are typically covered as well.</p>\n<p>The NFIP offers $250,000 in coverage for your home's structure. Carpeting and personal property are generally covered, too, unless they're in the basement.</p>\n<p>Learn more about how flood insurance works and what flood insurance covers.</p>",
      "actions": null,
      "backgroundImage": [],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0"
    },
    {
      "contentTypeKey": "97c1bbe1-fea8-4a70-8379-f35d331f04c1",
      "udi": "umb://element/8e4f11b85822449fb3abb01bcda554ec",
      "theme": [
        "invert"
      ],
      "fullWidth": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/1e70d8298f9e4febbb184bab4275ee3b",
      "image": [],
      "caption": "",
      "actions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/d450d4df628d42aeafc3d5f117ee05be"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "78a2c645-8b8a-4cb1-96b0-3a2105f4a40a",
            "udi": "umb://element/d450d4df628d42aeafc3d5f117ee05be",
            "label": "Property Insurance",
            "target": [
              {
                "name": "Property",
                "udi": "umb://document/1c43df11c4b041c6beb2bcf30d46cef6"
              }
            ],
            "isPrimary": "1"
          }
        ],
        "settingsData": []
      },
      "backgroundImage": [],
      "theme": [
        "default"
      ],
      "fullWidth": "0",
      "toneImage": "0",
      "bodyText": "<p>Enhance your overall coverage by combining Flood Insurance with our comprehensive Property Insurance. From safeguarding against floods to protecting your property against a range of risks, this powerful combination ensures comprehensive protection for your home and belongings.</p>",
      "trackImpressions": "0",
      "headline": "Bundle your insurances"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/3cadd902cb2149b083cd6ce9bc1c6332",
      "image": [],
      "caption": "",
      "actions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/c02342c72d524d63a75959c21e07b361"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "78a2c645-8b8a-4cb1-96b0-3a2105f4a40a",
            "udi": "umb://element/c02342c72d524d63a75959c21e07b361",
            "label": "Get Quote",
            "target": [
              {
                "name": "Request Quote",
                "udi": "umb://document/7674190935244867a28ac5140614dfc4"
              }
            ],
            "isPrimary": "1"
          }
        ],
        "settingsData": []
      },
      "backgroundImage": [],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "bodyText": "<p>Securing your property against the risks of flooding is just moments away. Get a personalized Flood Insurance quote swiftly and easily. Enter a few details, and receive a quote tailored to your needs.</p>",
      "trackImpressions": "0",
      "headline": "Get quote now"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/c2ce7c211d234ab1aee3c6a1d4d1d0d5",
      "image": [],
      "caption": "",
      "actions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/8a1cf6129a394d5495e216fa9f6640bf"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "78a2c645-8b8a-4cb1-96b0-3a2105f4a40a",
            "udi": "umb://element/8a1cf6129a394d5495e216fa9f6640bf",
            "label": "Flood Insurance Resources",
            "target": [
              {
                "name": "Resources",
                "udi": "umb://document/2f2ecc7d0d0044aeb79e7629aa3ee4fe"
              }
            ],
            "isPrimary": "1"
          }
        ],
        "settingsData": []
      },
      "backgroundImage": [],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "bodyText": "<p>Access valuable insights and information with our Flood Insurance Resources. From understanding coverage options to preparing for potential risks, our resources empower you to make informed decisions.</p>",
      "trackImpressions": "0",
      "headline": "Flood Insurance Resources"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/57b1a71753664d4ca1647ab0052ec4e2",
      "image": [],
      "caption": "<p><a href=\"/{localLink:umb://document/3f0a1a65d5db4d3ba06e615af4233bd7}\" title=\"Home\">Home</a></p>\n<p><a href=\"/{localLink:umb://document/c90d9c440c3f4ac1b817d8971eb71610}\" title=\"Vehicle\">Vehicle Insurance</a></p>\n<p><a href=\"/{localLink:umb://document/1c43df11c4b041c6beb2bcf30d46cef6}\" title=\"Property\">Property Insurance</a></p>\n<p><a href=\"/{localLink:umb://document/9a0b0ca6f6144bdc9547d4a55c95e170}\" title=\"Personal\">Personal Insurance</a> </p>\n<p><a href=\"/{localLink:umb://document/f592aff288394d059cab47edcca87125}\" title=\"Business\">Business Insurance</a></p>\n<p><a href=\"/{localLink:umb://document/7674190935244867a28ac5140614dfc4}\" title=\"Request Quote\">Request Quote</a></p>\n<p><a href=\"/{localLink:umb://document/2f2ecc7d0d0044aeb79e7629aa3ee4fe}\" title=\"Resources\">Resources</a></p>",
      "actions": null,
      "backgroundImage": [],
      "theme": [
        "invert"
      ],
      "fullWidth": "1",
      "toneImage": "0",
      "tagLine": "Component Name in CMS: Page Footer",
      "componentName": "Page Footer"
    }
  ],
  "settingsData": []
}]]></Value>
    </components>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>