<?xml version="1.0" encoding="utf-8"?>
<Content Key="1bf6d934-0134-4095-a52a-8aa0ec2993b4" Alias="Home Insurance" Level="3">
  <Info>
    <Parent Key="1c43df11-c4b0-41c6-beb2-bcf30d46cef6">Property</Parent>
    <Path>/Home/Property/HomeInsurance</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-10-10T07:03:05</CreateDate>
    <NodeName Default="Home Insurance">
      <Name Culture="en-us">Home Insurance</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="d2cf64ac-3ff8-4e81-a150-dcead48f4b58">ContentPage</Template>
  </Info>
  <Properties>
    <components>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/db2903201cb84de6ac606e5ee92cbe56",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/622efa5a91cb474ba92bc9079992bd17",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/e305b2999af74aa5bc35f27235f64c82",
        "areas": [
          {
            "key": "900b2dea-7c24-41d1-a94f-710f02c01c62",
            "items": [
              {
                "contentUdi": "umb://element/ccf3eec9a3e440c2a1c6e8452f8b3b5f",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "85707c55-f442-4752-8da3-980a8e4ab5af",
            "items": [
              {
                "contentUdi": "umb://element/f2cf7210940e4599b3d9956917f3701e",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "9629d57a-66ad-491c-ac64-968f0ab4a1f2",
            "items": [
              {
                "contentUdi": "umb://element/bebd56db937842f2902cc9c74cd0ce4a",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/523c04db7ae1481394447ba6a1d127a5",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/d76cc27985f641c5aa3171befec2ad8d",
        "areas": [
          {
            "key": "7fadd01a-6977-41fa-a9b7-677d2f9c2baf",
            "items": [
              {
                "contentUdi": "umb://element/70dfe7a0f3a740d4a3ae919d7d84b9df",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "21233b21-9acd-49f1-89e7-62b7a19359b1",
            "items": [
              {
                "contentUdi": "umb://element/e2ba59e0fbad4ea387dbd6e824581c0d",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/deec09db61184ef19c33168c35686db7"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/db2903201cb84de6ac606e5ee92cbe56",
      "image": [],
      "headline": "Home Owners Insurance",
      "caption": "",
      "actions": null,
      "backgroundImage": [
        {
          "key": "b2481557-26f1-4953-88e5-cf21e39948a0",
          "mediaKey": "00d48c7f-4196-4dd8-b4d7-d6f58493df8a"
        }
      ],
      "theme": [
        "invert"
      ],
      "fullWidth": "0",
      "toneImage": "1"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/622efa5a91cb474ba92bc9079992bd17",
      "tagLine": "",
      "image": [],
      "caption": "<p>We're the only homeowners insurance company that lets you compare home insurance quotes and coverages from multiple providers. Simply enter your information once, and we'll match you with a policy based on your input and frequently show additional options.</p>",
      "actions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/ee663e5ac37d4cfea363ed748b971dab"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "78a2c645-8b8a-4cb1-96b0-3a2105f4a40a",
            "udi": "umb://element/ee663e5ac37d4cfea363ed748b971dab",
            "label": "Get a Quote",
            "target": [
              {
                "name": "Request Quote",
                "udi": "umb://document/7674190935244867a28ac5140614dfc4"
              }
            ],
            "isPrimary": "1"
          }
        ],
        "settingsData": []
      },
      "backgroundImage": [],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "headline": "Get a home insurance quote customized to your needs",
      "bodyText": "",
      "trackImpressions": "0"
    },
    {
      "contentTypeKey": "50e4e13b-7244-4a45-b226-7c586f93bf10",
      "udi": "umb://element/d76cc27985f641c5aa3171befec2ad8d",
      "theme": [
        "invert"
      ],
      "fullWidth": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/e2ba59e0fbad4ea387dbd6e824581c0d",
      "tagLine": "Affordable home insurance that helps you save",
      "image": [],
      "caption": "<p><strong>Bundle auto and homeowners insurance</strong></p>\n<ul>\n<li>Save an average of 7% on car insurance when you combine Progressive home and auto</li>\n</ul>\n<p><strong>Quote in advance</strong></p>\n<ul>\n<li>Plan and save when you get a homeowners insurance quote before your policy’s start date.</li>\n</ul>\n<p><strong>Alarm systems and safety devices</strong></p>\n<ul>\n<li>You may qualify for discounts if you have a burglar alarm, automatic fire protective sprinklers, or a centrally monitored security system in your home.</li>\n</ul>\n<p><strong>New purchase</strong></p>\n<ul>\n<li>You may qualify for a discount when you purchase a new home (doesn't have to be newly built).</li>\n</ul>",
      "actions": null,
      "backgroundImage": [],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/70dfe7a0f3a740d4a3ae919d7d84b9df",
      "image": [],
      "caption": "",
      "actions": null,
      "backgroundImage": [
        {
          "key": "5f2b247d-3c2c-4386-80ff-1c13ec3e7b47",
          "mediaKey": "1e4b0cf6-3af7-4d8b-934d-4822a240c06d"
        }
      ],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/deec09db61184ef19c33168c35686db7",
      "image": [],
      "caption": "<p><a href=\"/{localLink:umb://document/3f0a1a65d5db4d3ba06e615af4233bd7}\" title=\"Home\">Home</a></p>\n<p><a href=\"/{localLink:umb://document/c90d9c440c3f4ac1b817d8971eb71610}\" title=\"Vehicle\">Vehicle Insurance</a></p>\n<p><a href=\"/{localLink:umb://document/1c43df11c4b041c6beb2bcf30d46cef6}\" title=\"Property\">Property Insurance</a></p>\n<p><a href=\"/{localLink:umb://document/9a0b0ca6f6144bdc9547d4a55c95e170}\" title=\"Personal\">Personal Insurance</a> </p>\n<p><a href=\"/{localLink:umb://document/f592aff288394d059cab47edcca87125}\" title=\"Business\">Business Insurance</a></p>\n<p><a href=\"/{localLink:umb://document/7674190935244867a28ac5140614dfc4}\" title=\"Request Quote\">Request Quote</a></p>\n<p><a href=\"/{localLink:umb://document/2f2ecc7d0d0044aeb79e7629aa3ee4fe}\" title=\"Resources\">Resources</a></p>",
      "actions": null,
      "backgroundImage": [],
      "theme": [
        "invert"
      ],
      "fullWidth": "1",
      "toneImage": "0",
      "tagLine": "Component Name in CMS: Page Footer",
      "componentName": "Page Footer"
    },
    {
      "contentTypeKey": "97c1bbe1-fea8-4a70-8379-f35d331f04c1",
      "udi": "umb://element/e305b2999af74aa5bc35f27235f64c82",
      "theme": "",
      "fullWidth": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/ccf3eec9a3e440c2a1c6e8452f8b3b5f",
      "tagLine": "HOME INSURANCE COVERAGE",
      "image": [
        {
          "key": "9dff7fd5-2f80-4bef-9724-297a60a6ab0b",
          "mediaKey": "d303eeb8-8f3b-45fa-a154-ac86834ca5d3"
        }
      ],
      "caption": "<p>Experience peace of mind with us. Our comprehensive Home Insurance coverage protects your property, belongings, and more. From liability protection to coverage for unexpected events, we've tailored our policies to meet the unique needs of your home. Trust us for reliable insurance solutions and expert guidance to ensure your home is safeguarded.</p>",
      "bodyText": "",
      "actions": null,
      "backgroundImage": [],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "trackImpressions": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/f2cf7210940e4599b3d9956917f3701e",
      "tagLine": "CLAIMS ASSISTANCE",
      "image": [
        {
          "key": "cfdb37f0-7cd3-45c3-867d-152db189e3f6",
          "mediaKey": "d303eeb8-8f3b-45fa-a154-ac86834ca5d3"
        }
      ],
      "caption": "<p>Navigate unexpected events with confidence. Our Claims Assistance service is designed to support you through the home insurance claims process. Whether it's property damage, theft, or other covered incidents, our team is dedicated to providing the assistance you need during challenging times.</p>",
      "bodyText": "",
      "actions": null,
      "backgroundImage": [],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "trackImpressions": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/bebd56db937842f2902cc9c74cd0ce4a",
      "tagLine": "HOME SECURITY DISCOUNTS",
      "image": [
        {
          "key": "1dafcc06-ef7f-43b6-89b0-bb3df632aec7",
          "mediaKey": "d303eeb8-8f3b-45fa-a154-ac86834ca5d3"
        }
      ],
      "caption": "<p>Secure your home and save with us. Enjoy exclusive Home Security Discounts for investing in measures that protect your home. From alarm systems to safety features, we reward your commitment to home security. Maximize savings and ensure the safety of your home with our tailored insurance options.</p>",
      "bodyText": "",
      "actions": null,
      "backgroundImage": [],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "trackImpressions": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/523c04db7ae1481394447ba6a1d127a5",
      "image": [],
      "headline": " Familiarize yourself with your state's home insurance requirements",
      "caption": "",
      "bodyText": "<p>Home insurance not only provides essential protection for your residence but is also a legal necessity. All states mandate a certain level of insurance coverage for homeowners to ensure protection for you and fellow residents. The specific coverage requirements depend on your financial responsibility for your home and your state's regulations. In some states, obtaining homeowners' insurance may even be a prerequisite before acquiring certain licenses or permits.</p>",
      "actions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/de5cdae5f2644a7da6a8347f8925f258"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "78a2c645-8b8a-4cb1-96b0-3a2105f4a40a",
            "udi": "umb://element/de5cdae5f2644a7da6a8347f8925f258",
            "label": "US home insurance regulations",
            "target": [
              {
                "name": "US home insurance regulations",
                "target": "_blank",
                "url": "https://content.naic.org/cipr-topics/fair-access-insurance-requirements-fair-plans"
              }
            ],
            "isPrimary": "1"
          }
        ],
        "settingsData": []
      },
      "backgroundImage": [],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "trackImpressions": "0"
    }
  ],
  "settingsData": []
}]]></Value>
    </components>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>