<?xml version="1.0" encoding="utf-8"?>
<Content Key="3f0a1a65-d5db-4d3b-a06e-615af4233bd7" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>website</ContentType>
    <CreateDate>2023-07-11T14:18:13</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="371dff7e-75d3-4cc4-a104-e5d6a09ce419">Website</Template>
  </Info>
  <Properties>
    <components>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/23006d4db33e4f34959c59c36dbc1421",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/6f54effbb566445588d87cf674215a6b",
        "areas": [
          {
            "key": "900b2dea-7c24-41d1-a94f-710f02c01c62",
            "items": [
              {
                "contentUdi": "umb://element/87bae3062cf64f1fbd7eab6cd1c639d1",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "85707c55-f442-4752-8da3-980a8e4ab5af",
            "items": [
              {
                "contentUdi": "umb://element/f5f7931b70604d90a11692aee687a029",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "9629d57a-66ad-491c-ac64-968f0ab4a1f2",
            "items": [
              {
                "contentUdi": "umb://element/1d8baf43de6d409eb303f476e6cdee7e",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/5e1b65a05c8b467da5bb05441c791dbc",
        "areas": [
          {
            "key": "7fadd01a-6977-41fa-a9b7-677d2f9c2baf",
            "items": [
              {
                "contentUdi": "umb://element/33517a45694a4fe0ab994ce670c5b49c",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "21233b21-9acd-49f1-89e7-62b7a19359b1",
            "items": [
              {
                "contentUdi": "umb://element/b94681c696704cecb1d1aabcef735d20",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/fef0ad58954d4852a5ec802011d255ed",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/9e7f453901ca487abd40678e9eb4e78d",
        "areas": [
          {
            "key": "900b2dea-7c24-41d1-a94f-710f02c01c62",
            "items": [
              {
                "contentUdi": "umb://element/5822ca40de564f3eae330d84e790afc5",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "85707c55-f442-4752-8da3-980a8e4ab5af",
            "items": [
              {
                "contentUdi": "umb://element/b60f6b1d27c64a538d830fed0ddecb67",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "9629d57a-66ad-491c-ac64-968f0ab4a1f2",
            "items": [
              {
                "contentUdi": "umb://element/dd3607e4c1c842d990ad14fef185fd10",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/d6967ea40f8c4ed4a9ff5b085f653773",
        "areas": [
          {
            "key": "900b2dea-7c24-41d1-a94f-710f02c01c62",
            "items": []
          },
          {
            "key": "85707c55-f442-4752-8da3-980a8e4ab5af",
            "items": [
              {
                "contentUdi": "umb://element/25486cdc97dd444c9262db38829811bf",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "9629d57a-66ad-491c-ac64-968f0ab4a1f2",
            "items": []
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/ca4e395a067d4ca997f368b37ca1f5c4"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "97c1bbe1-fea8-4a70-8379-f35d331f04c1",
      "udi": "umb://element/6f54effbb566445588d87cf674215a6b"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/1d8baf43de6d409eb303f476e6cdee7e",
      "headline": "Life Insurance",
      "backgroundImage": [],
      "caption": "<p>Ensure a secure future for your loved ones with our Life Insurance. Comprehensive coverage for peace of mind. Explore options to protect those who matter most.</p>",
      "actions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/8e3c4519521646cbb8226020a7e952b3"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "78a2c645-8b8a-4cb1-96b0-3a2105f4a40a",
            "udi": "umb://element/8e3c4519521646cbb8226020a7e952b3",
            "label": "Learn About Life Insurance",
            "target": [
              {
                "name": "Personal",
                "udi": "umb://document/9a0b0ca6f6144bdc9547d4a55c95e170"
              }
            ],
            "isPrimary": "0"
          }
        ],
        "settingsData": []
      },
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "image": [
        {
          "key": "7a3bbf4c-e951-4c5c-83ad-9c81c205dd13",
          "mediaKey": "6f12c22c-5119-4281-9899-04a8b119b5bb"
        }
      ],
      "tagLine": "Multi-column component",
      "componentName": "Upper Multi-column component",
      "bodyText": "",
      "trackImpressions": "1",
      "trackingTags": [
        "journey-stage-awareness"
      ]
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/87bae3062cf64f1fbd7eab6cd1c639d1",
      "headline": "Car Insurance",
      "backgroundImage": [],
      "caption": "<p>Ensure a secure journey on the road with our Car Insurance. Tailored coverage for accidents, theft, and more. Drive confidently knowing your vehicle is protected. Explore our Car Insurance options for peace of mind on every drive.</p>",
      "actions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/915f1dc775004b6aaae27587d365b741"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "78a2c645-8b8a-4cb1-96b0-3a2105f4a40a",
            "udi": "umb://element/915f1dc775004b6aaae27587d365b741",
            "label": "Learn About Car Insurance",
            "target": [
              {
                "name": "Vehicle",
                "udi": "umb://document/c90d9c440c3f4ac1b817d8971eb71610",
                "queryString": "#"
              }
            ],
            "isPrimary": "0"
          }
        ],
        "settingsData": []
      },
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "image": [
        {
          "key": "54ad24e9-d6dd-413c-a027-1598ae61a755",
          "mediaKey": "b399e6bc-6f4b-4e24-9439-b412f8214cd2"
        }
      ],
      "tagLine": "Multi-column component",
      "componentName": "Upper Multi-column component",
      "bodyText": "",
      "trackImpressions": "1",
      "trackingTags": [
        "journey-stage-awareness"
      ]
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/f5f7931b70604d90a11692aee687a029",
      "headline": "Home Insurance",
      "backgroundImage": [],
      "caption": "<p>Safeguard your home with our comprehensive Home Insurance. From property protection to liability coverage, ensure peace of mind. Explore options for tailored coverage that fits your needs.</p>",
      "actions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/64c81737801e4ead83d00a4f3108b239"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "78a2c645-8b8a-4cb1-96b0-3a2105f4a40a",
            "udi": "umb://element/64c81737801e4ead83d00a4f3108b239",
            "label": "Learn About Home Insurance",
            "target": [
              {
                "name": "Property",
                "udi": "umb://document/1c43df11c4b041c6beb2bcf30d46cef6"
              }
            ],
            "isPrimary": "0"
          }
        ],
        "settingsData": []
      },
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "image": [
        {
          "key": "dd157e3e-1215-4d0a-8eca-ce996b92d410",
          "mediaKey": "0f772bfc-d84b-41c9-801e-da9264ed2962"
        }
      ],
      "tagLine": "Component Name in CMS: Upper Multi-column component",
      "componentName": "Upper Multi-column component",
      "bodyText": "",
      "trackImpressions": "1",
      "trackingTags": [
        "journey-stage-awareness"
      ]
    },
    {
      "contentTypeKey": "50e4e13b-7244-4a45-b226-7c586f93bf10",
      "udi": "umb://element/5e1b65a05c8b467da5bb05441c791dbc",
      "theme": "",
      "fullWidth": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/33517a45694a4fe0ab994ce670c5b49c",
      "headline": "Business Insurance",
      "backgroundImage": [
        {
          "key": "1db2dfc8-bbdf-4419-ae3f-a7a5a5165940",
          "mediaKey": "29f6b6c1-84a9-49a3-b08e-c2f57ccf9bd1",
          "focalPoint": {
            "left": 0.9208413590192231,
            "top": 0.36362103757717323
          }
        }
      ],
      "caption": "",
      "actions": null,
      "theme": [
        "invert"
      ],
      "fullWidth": "0",
      "toneImage": "1",
      "image": [],
      "tagLine": "Component name in CMS: Home Side by Side Business Insurance",
      "componentName": "Home Side by Side Business Insurance",
      "bodyText": "",
      "trackImpressions": "1"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/b94681c696704cecb1d1aabcef735d20",
      "headline": "Insurance for small and medium businesses",
      "backgroundImage": [],
      "caption": "",
      "actions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/4c454db07709408bb1571fe2bf96da24"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "78a2c645-8b8a-4cb1-96b0-3a2105f4a40a",
            "udi": "umb://element/4c454db07709408bb1571fe2bf96da24",
            "label": "See Our Range of Business Insurance",
            "target": [
              {
                "name": "Business",
                "udi": "umb://document/f592aff288394d059cab47edcca87125"
              }
            ],
            "isPrimary": "0"
          }
        ],
        "settingsData": []
      },
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "image": [],
      "tagLine": "Side by Side Component",
      "componentName": "Home Side by Side Business Insurance",
      "bodyText": "",
      "trackImpressions": "1",
      "trackingTags": [
        "journey-stage-awareness",
        "audience-business"
      ]
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/fef0ad58954d4852a5ec802011d255ed",
      "headline": "First time home insurance buyer?",
      "backgroundImage": [],
      "caption": "<p><a href=\"/{localLink:umb://document/eb90d28d52224a3f8f6e82bfddb189e4}\" title=\"First Time Buyers\">Get 5 tips for finding the right home insurance</a></p>",
      "actions": null,
      "theme": [
        "default"
      ],
      "fullWidth": "0",
      "toneImage": "0",
      "image": [
        {
          "key": "7ee12c82-9ca4-4693-8835-e98208fad4f6",
          "mediaKey": "498e7b79-db71-4b0f-a523-1add3716a9bc"
        }
      ],
      "tagLine": "Component Name: Home Content Block 5 Tips",
      "componentName": "Home Content Block 5 Tips",
      "bodyText": "",
      "trackImpressions": "1",
      "trackingTags": [
        "journey-stage-awareness",
        "content-theme-educational",
        "audience-consumer"
      ]
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/23006d4db33e4f34959c59c36dbc1421",
      "image": [],
      "headline": "Insurance Demo Site",
      "caption": "",
      "actions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/75d25c90d4c048e88b1d3da3f47004dc"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "78a2c645-8b8a-4cb1-96b0-3a2105f4a40a",
            "udi": "umb://element/75d25c90d4c048e88b1d3da3f47004dc",
            "label": "Get a Personalized Insurance Quote",
            "target": [
              {
                "name": "Request Quote",
                "udi": "umb://document/7674190935244867a28ac5140614dfc4"
              }
            ],
            "isPrimary": "1"
          }
        ],
        "settingsData": []
      },
      "backgroundImage": [
        {
          "key": "c12f038d-a680-49b6-9327-778d7d9bbfcb",
          "mediaKey": "ffbec8a9-97c1-48c0-b78b-091c4c5fb283"
        }
      ],
      "theme": [
        "invert"
      ],
      "fullWidth": "1",
      "toneImage": "1",
      "tagLine": "Component Name in CMS: Home Hero",
      "componentName": "Home Hero",
      "bodyText": "",
      "trackImpressions": "1",
      "trackingTags": [
        "Journey-stage-consideration"
      ]
    },
    {
      "contentTypeKey": "97c1bbe1-fea8-4a70-8379-f35d331f04c1",
      "udi": "umb://element/9e7f453901ca487abd40678e9eb4e78d",
      "theme": [
        "default"
      ],
      "fullWidth": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/5822ca40de564f3eae330d84e790afc5",
      "image": [],
      "headline": "Life Insurance",
      "caption": "",
      "actions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/6f085a5f7b3b40f3a0c2eac9979dd46c"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "78a2c645-8b8a-4cb1-96b0-3a2105f4a40a",
            "udi": "umb://element/6f085a5f7b3b40f3a0c2eac9979dd46c",
            "label": "Life Insurance",
            "target": [
              {
                "name": "Life Insurance",
                "udi": "umb://document/6c5e89472f354eaa9c97de03163a1b05"
              }
            ],
            "isPrimary": "1"
          }
        ],
        "settingsData": []
      },
      "backgroundImage": [
        {
          "key": "2ceee9b2-9202-49e6-b88b-6d8c3b044af3",
          "mediaKey": "ac828701-b07d-473f-8295-2ca74972efd4"
        }
      ],
      "theme": [
        "invert"
      ],
      "fullWidth": "0",
      "toneImage": "1",
      "tagLine": "Multi-column component",
      "componentName": "Lower Multi-column component",
      "bodyText": "",
      "trackImpressions": "1"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/b60f6b1d27c64a538d830fed0ddecb67",
      "image": [],
      "headline": "Travel Insurance",
      "caption": "",
      "actions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/c0068f31c5e24964b0bd0492ebd6b83a"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "78a2c645-8b8a-4cb1-96b0-3a2105f4a40a",
            "udi": "umb://element/c0068f31c5e24964b0bd0492ebd6b83a",
            "label": "Travel Insurance",
            "target": [
              {
                "name": "Travel Insurance",
                "udi": "umb://document/1a3fce8f018240d2a863504fcff8a13e"
              }
            ],
            "isPrimary": "1"
          }
        ],
        "settingsData": []
      },
      "backgroundImage": [
        {
          "key": "e06e14d1-55ae-4a2e-b642-cc9ec77c4e2b",
          "mediaKey": "a8e6ac89-2d1b-4334-a6f9-5d159d3abaf3"
        }
      ],
      "theme": [
        "invert"
      ],
      "fullWidth": "0",
      "toneImage": "1",
      "tagLine": "Component Name in CMS: Lower Multi-column component",
      "componentName": "Lower Multi-column component",
      "bodyText": "",
      "trackImpressions": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/dd3607e4c1c842d990ad14fef185fd10",
      "tagLine": "Multi-column component",
      "image": [],
      "caption": "",
      "actions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/2c08566042154531996c5bd9c70aa9bc"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "78a2c645-8b8a-4cb1-96b0-3a2105f4a40a",
            "udi": "umb://element/2c08566042154531996c5bd9c70aa9bc",
            "label": "Pet Insurance",
            "target": [
              {
                "name": "Pet Insurance",
                "udi": "umb://document/20d68d5579fa432ea937f26e1a5ca7ff"
              }
            ],
            "isPrimary": "1"
          }
        ],
        "settingsData": []
      },
      "backgroundImage": [
        {
          "key": "0e3ca001-6062-4daa-9139-e5574dbe88bc",
          "mediaKey": "c6472691-eacf-4192-8e22-5cbde1b2985b"
        }
      ],
      "theme": [
        "invert"
      ],
      "fullWidth": "0",
      "toneImage": "1",
      "headline": "Pet Insurance",
      "componentName": "Lower Multi-column component"
    },
    {
      "contentTypeKey": "97c1bbe1-fea8-4a70-8379-f35d331f04c1",
      "udi": "umb://element/d6967ea40f8c4ed4a9ff5b085f653773",
      "theme": [
        "default"
      ],
      "fullWidth": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/25486cdc97dd444c9262db38829811bf",
      "image": [
        {
          "key": "61936bf4-fc16-40d7-95fc-4d10669ef1eb",
          "mediaKey": "ac828701-b07d-473f-8295-2ca74972efd4"
        }
      ],
      "headline": "Get an Insurance Quote",
      "caption": "",
      "actions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/a13beeb14baa44c0a0980a428baf97c5"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "78a2c645-8b8a-4cb1-96b0-3a2105f4a40a",
            "udi": "umb://element/a13beeb14baa44c0a0980a428baf97c5",
            "label": "Get Quote",
            "target": [
              {
                "name": "Request Quote",
                "udi": "umb://document/7674190935244867a28ac5140614dfc4"
              }
            ],
            "isPrimary": "1"
          }
        ],
        "settingsData": []
      },
      "backgroundImage": [],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "tagLine": "Component Name in CMS: Home Page End Request Quote",
      "componentName": "Home Page End Request Quote",
      "bodyText": "",
      "trackImpressions": "1",
      "trackingTags": [
        "Journey-stage-consideration"
      ]
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/ca4e395a067d4ca997f368b37ca1f5c4",
      "image": [],
      "caption": "<p><a href=\"/{localLink:umb://document/3f0a1a65d5db4d3ba06e615af4233bd7}\" title=\"Home\">Home</a></p>\n<p><a href=\"/{localLink:umb://document/c90d9c440c3f4ac1b817d8971eb71610}\" title=\"Vehicle\">Vehicle Insurance</a></p>\n<p><a href=\"/{localLink:umb://document/1c43df11c4b041c6beb2bcf30d46cef6}\" title=\"Property\">Property Insurance</a></p>\n<p><a href=\"/{localLink:umb://document/9a0b0ca6f6144bdc9547d4a55c95e170}\" title=\"Personal\">Personal Insurance</a> </p>\n<p><a href=\"/{localLink:umb://document/f592aff288394d059cab47edcca87125}\" title=\"Business\">Business Insurance</a></p>\n<p><a href=\"/{localLink:umb://document/7674190935244867a28ac5140614dfc4}\" title=\"Request Quote\">Request Quote</a></p>\n<p><a href=\"/{localLink:umb://document/2f2ecc7d0d0044aeb79e7629aa3ee4fe}\" title=\"Resources\">Resources</a></p>",
      "actions": null,
      "backgroundImage": [],
      "theme": [
        "invert"
      ],
      "fullWidth": "1",
      "toneImage": "0",
      "tagLine": "Component Name in CMS: Page Footer",
      "componentName": "Page Footer"
    }
  ],
  "settingsData": []
}]]></Value>
    </components>
  </Properties>
</Content>