<?xml version="1.0" encoding="utf-8"?>
<Content Key="6c5e8947-2f35-4eaa-9c97-de03163a1b05" Alias="Life Insurance" Level="3">
  <Info>
    <Parent Key="9a0b0ca6-f614-4bdc-9547-d4a55c95e170">Personal</Parent>
    <Path>/Home/Personal/LifeInsurance</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-10-10T07:06:01</CreateDate>
    <NodeName Default="Life Insurance">
      <Name Culture="en-us">Life Insurance</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="d2cf64ac-3ff8-4e81-a150-dcead48f4b58">ContentPage</Template>
  </Info>
  <Properties>
    <components>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/636748d4cc814c69b271e366c342f04c",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/2501065c5a7345968978c4e9c741ed1c",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/1d3e4059f71b4dfea1e3aafa72aeb8a0",
        "areas": [
          {
            "key": "7fadd01a-6977-41fa-a9b7-677d2f9c2baf",
            "items": [
              {
                "contentUdi": "umb://element/3cb4164d37e546a9baaa9db5a34023fd",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "21233b21-9acd-49f1-89e7-62b7a19359b1",
            "items": [
              {
                "contentUdi": "umb://element/e8609f2ac4f546fba5c691084e6fa976",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/0672d71f8ca64a178929aa124a1b36a4",
        "areas": [
          {
            "key": "900b2dea-7c24-41d1-a94f-710f02c01c62",
            "items": [
              {
                "contentUdi": "umb://element/a91fbd21b0c44c408113956a3a0c3d05",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "85707c55-f442-4752-8da3-980a8e4ab5af",
            "items": [
              {
                "contentUdi": "umb://element/a95ed0e662464f4ea03c2ae2a582356b",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "9629d57a-66ad-491c-ac64-968f0ab4a1f2",
            "items": [
              {
                "contentUdi": "umb://element/210be849188849e5ba1ce8b8299901f1",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/952bdbf84acc44a0b5d56210459cf797",
        "areas": [
          {
            "key": "7fadd01a-6977-41fa-a9b7-677d2f9c2baf",
            "items": [
              {
                "contentUdi": "umb://element/cfcaf6b0e477428b85c5ce26215a9f91",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "21233b21-9acd-49f1-89e7-62b7a19359b1",
            "items": [
              {
                "contentUdi": "umb://element/74a946b2d6fb4b81ae715ad4a580dc3e",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/1e35d1e6d0324162ba33861745020294"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/636748d4cc814c69b271e366c342f04c",
      "image": [],
      "headline": "Life Insurance",
      "caption": "",
      "actions": null,
      "backgroundImage": [
        {
          "key": "0cbe6e1c-ef28-4302-9078-4066a5b761a2",
          "mediaKey": "414c4d2a-693f-4040-bf72-72e785374cd7"
        }
      ],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "1"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/2501065c5a7345968978c4e9c741ed1c",
      "tagLine": "A $250,000 policy costs as little as $16 per month.",
      "image": [],
      "headline": "What is life insurance?",
      "caption": "<p>Purchasing life insurance allows you to provide a safety net for your loved ones in case you pass away. A life insurance policy is a contract stating that, as long as your premium is paid and the policy is active when you die, your beneficiaries can receive a death benefit payout to be used however they like — for final expenses, paying off outstanding debt, and even everyday costs.</p>",
      "actions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/d731b8c849e1445b9d9c7c873ce62548"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "78a2c645-8b8a-4cb1-96b0-3a2105f4a40a",
            "udi": "umb://element/d731b8c849e1445b9d9c7c873ce62548",
            "label": "Request quote",
            "target": [
              {
                "name": "Request Quote",
                "udi": "umb://document/7674190935244867a28ac5140614dfc4"
              }
            ],
            "isPrimary": "1"
          }
        ],
        "settingsData": []
      },
      "backgroundImage": [],
      "theme": [
        "default"
      ],
      "fullWidth": "0",
      "toneImage": "0",
      "bodyText": "",
      "trackImpressions": "0"
    },
    {
      "contentTypeKey": "50e4e13b-7244-4a45-b226-7c586f93bf10",
      "udi": "umb://element/1d3e4059f71b4dfea1e3aafa72aeb8a0",
      "theme": [
        "default"
      ],
      "fullWidth": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/3cb4164d37e546a9baaa9db5a34023fd",
      "image": [],
      "headline": "",
      "caption": "",
      "actions": null,
      "backgroundImage": [
        {
          "key": "a0e96c93-4552-4e69-ad97-a857c228082c",
          "mediaKey": "35e809f0-5210-4aae-ad02-f865919c4b00"
        }
      ],
      "theme": [
        "invert"
      ],
      "fullWidth": "0",
      "toneImage": "1",
      "bodyText": "",
      "trackImpressions": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/e8609f2ac4f546fba5c691084e6fa976",
      "image": [],
      "caption": "<p>Life insurance policies generally fall into three categories: term, permanent, and final expense. Once you understand the difference, you can easily determine which is right for your beneficiaries' needs and your budget.</p>\n<p> </p>\n<p>Term policies last a set timeframe (often 1, 10, 15, 20, or 30 years) and are affordable. They're typically for supporting your loved ones in case you pass away unexpectedly.</p>\n<p> </p>\n<p>In some states, we also offer a \"flexible term\" policy via Progressive Life Insurance Company — it allows you to adjust your coverage amount (up or down) without having to re-apply or get a new policy. </p>\n<p> </p>\n<p>Read the associated disclosure for this claim. Permanent policies last your entire lifetime, have cash value that grows, and are more expensive. Final expense policies are a more affordable type of permanent life insurance with a lower death benefit that's designed to cover your end-of-life costs.</p>",
      "actions": null,
      "backgroundImage": [],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "headline": "Types of life insurance products",
      "bodyText": "",
      "trackImpressions": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/1e35d1e6d0324162ba33861745020294",
      "image": [],
      "caption": "<p><a href=\"/{localLink:umb://document/3f0a1a65d5db4d3ba06e615af4233bd7}\" title=\"Home\">Home</a></p>\n<p><a href=\"/{localLink:umb://document/c90d9c440c3f4ac1b817d8971eb71610}\" title=\"Vehicle\">Vehicle Insurance</a></p>\n<p><a href=\"/{localLink:umb://document/1c43df11c4b041c6beb2bcf30d46cef6}\" title=\"Property\">Property Insurance</a></p>\n<p><a href=\"/{localLink:umb://document/9a0b0ca6f6144bdc9547d4a55c95e170}\" title=\"Personal\">Personal Insurance</a> </p>\n<p><a href=\"/{localLink:umb://document/f592aff288394d059cab47edcca87125}\" title=\"Business\">Business Insurance</a></p>\n<p><a href=\"/{localLink:umb://document/7674190935244867a28ac5140614dfc4}\" title=\"Request Quote\">Request Quote</a></p>\n<p><a href=\"/{localLink:umb://document/2f2ecc7d0d0044aeb79e7629aa3ee4fe}\" title=\"Resources\">Resources</a></p>",
      "actions": null,
      "backgroundImage": [],
      "theme": [
        "invert"
      ],
      "fullWidth": "1",
      "toneImage": "0",
      "tagLine": "Component Name in CMS: Page Footer",
      "componentName": "Page Footer"
    },
    {
      "contentTypeKey": "97c1bbe1-fea8-4a70-8379-f35d331f04c1",
      "udi": "umb://element/0672d71f8ca64a178929aa124a1b36a4",
      "theme": [
        "invert"
      ],
      "fullWidth": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/a91fbd21b0c44c408113956a3a0c3d05",
      "image": [],
      "headline": "SECURE FINANCIAL FUTURE",
      "caption": "",
      "bodyText": "<p>Ensure your loved ones have a secure financial future with our Life Insurance. In the event of the unexpected, our policies provide a vital safety net, offering financial stability and peace of mind.</p>",
      "actions": null,
      "backgroundImage": [],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "trackImpressions": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/a95ed0e662464f4ea03c2ae2a582356b",
      "image": [],
      "headline": "LEGACY AND INHERITANCE",
      "caption": "",
      "bodyText": "<p>Build a lasting legacy and provide for future generations with our Life Insurance. Our policies go beyond financial security, offering a meaningful way to leave a lasting impact on those you care about.</p>",
      "actions": null,
      "backgroundImage": [],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "trackImpressions": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/210be849188849e5ba1ce8b8299901f1",
      "image": [],
      "headline": "PEACE OF MIND TODAY",
      "caption": "",
      "bodyText": "<p>Experience peace of mind today, knowing that your loved ones are protected tomorrow. Our Life Insurance provides comprehensive coverage, allowing you to enjoy the present with the assurance that your family's future is secure.</p>",
      "actions": null,
      "backgroundImage": [],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "trackImpressions": "0"
    },
    {
      "contentTypeKey": "50e4e13b-7244-4a45-b226-7c586f93bf10",
      "udi": "umb://element/952bdbf84acc44a0b5d56210459cf797",
      "theme": [
        "default"
      ],
      "fullWidth": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/cfcaf6b0e477428b85c5ce26215a9f91",
      "image": [],
      "caption": "",
      "bodyText": "",
      "actions": null,
      "backgroundImage": [
        {
          "key": "ea75d67b-46f4-4e32-92ef-bb7a3a9afba6",
          "mediaKey": "ac828701-b07d-473f-8295-2ca74972efd4"
        }
      ],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "trackImpressions": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/74a946b2d6fb4b81ae715ad4a580dc3e",
      "image": [],
      "headline": "Life insurance resources",
      "caption": "",
      "bodyText": "<p>Explore a wealth of information with our Life Insurance Resources—a comprehensive guide to help you make informed decisions about securing your family's future. From understanding policy details to planning for financial legacies, our resources empower you to navigate the complexities of Life Insurance. Click below to access our Life Insurance Resources page and gain valuable insights.</p>",
      "actions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/a95f5d85a6904225af8d0215448503e3"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "78a2c645-8b8a-4cb1-96b0-3a2105f4a40a",
            "udi": "umb://element/a95f5d85a6904225af8d0215448503e3",
            "label": "Life insurance resources",
            "target": [
              {
                "name": "Resources",
                "udi": "umb://document/2f2ecc7d0d0044aeb79e7629aa3ee4fe"
              }
            ],
            "isPrimary": "0"
          }
        ],
        "settingsData": []
      },
      "backgroundImage": [],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "trackImpressions": "0"
    }
  ],
  "settingsData": []
}]]></Value>
    </components>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>