<?xml version="1.0" encoding="utf-8"?>
<Content Key="ff6963e2-ac8a-4d13-bee1-dc10aba2ac0e" Alias="Motorcycle insurance" Level="3">
  <Info>
    <Parent Key="c90d9c44-0c3f-4ac1-b817-d8971eb71610">Vehicle</Parent>
    <Path>/Home/Vehicle/MotorcycleInsurance</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-10-09T18:56:59</CreateDate>
    <NodeName Default="Motorcycle insurance">
      <Name Culture="en-us">Motorcycle insurance</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="d2cf64ac-3ff8-4e81-a150-dcead48f4b58">ContentPage</Template>
  </Info>
  <Properties>
    <components>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/d34267aeeb244953a42050149f8d482a",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/c34f77a3c2604513bd5aad8879403968",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/fb684684c2f54623a691ff4231e16440",
        "areas": [
          {
            "key": "7fadd01a-6977-41fa-a9b7-677d2f9c2baf",
            "items": [
              {
                "contentUdi": "umb://element/224fcbbbbf4c49fb9eadc9a9386d3b54",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "21233b21-9acd-49f1-89e7-62b7a19359b1",
            "items": [
              {
                "contentUdi": "umb://element/d0b14d561ab54b83a9c70fd558560b72",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/c11cb94df5ed484bbfec551a123c5c66",
        "areas": [
          {
            "key": "7fadd01a-6977-41fa-a9b7-677d2f9c2baf",
            "items": [
              {
                "contentUdi": "umb://element/c6e5e1190ac042e69331f54a296a44a7",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "21233b21-9acd-49f1-89e7-62b7a19359b1",
            "items": [
              {
                "contentUdi": "umb://element/659ebfca4f4f43939677563b56815efa",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/1cd4119f09cc4ae6a7881da4d645c163",
        "areas": [
          {
            "key": "7fadd01a-6977-41fa-a9b7-677d2f9c2baf",
            "items": [
              {
                "contentUdi": "umb://element/43b15d99b9184b148f8e083ec3bca098",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "21233b21-9acd-49f1-89e7-62b7a19359b1",
            "items": [
              {
                "contentUdi": "umb://element/7f9270e067034e9ab6afd831ba3bcea7",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/a4675dbe1dac4be78ab8953a81b8eeb5"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/d34267aeeb244953a42050149f8d482a",
      "image": [],
      "headline": "Motorcycle Insurance",
      "caption": "",
      "actions": null,
      "backgroundImage": [
        {
          "key": "ca886930-363f-4751-9368-0b43ff9f58cb",
          "mediaKey": "d5b99d3e-ba57-4c23-8e69-8969e165c2e6"
        }
      ],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0"
    },
    {
      "contentTypeKey": "50e4e13b-7244-4a45-b226-7c586f93bf10",
      "udi": "umb://element/fb684684c2f54623a691ff4231e16440",
      "theme": [
        "default"
      ],
      "fullWidth": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/224fcbbbbf4c49fb9eadc9a9386d3b54",
      "image": [],
      "headline": "Get affordable motorcycle insurance",
      "caption": "<p>We understand the importance of finding motorcycle insurance that fits your budget without compromising on quality coverage. Our commitment is to provide affordable motorcycle insurance options that cater to your financial needs while ensuring you're adequately protected on the open road. </p>",
      "actions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/933852410e004dc89b1c22a8684dc580"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "78a2c645-8b8a-4cb1-96b0-3a2105f4a40a",
            "udi": "umb://element/933852410e004dc89b1c22a8684dc580",
            "label": "Request quote",
            "target": [
              {
                "name": "Request Quote",
                "udi": "umb://document/7674190935244867a28ac5140614dfc4"
              }
            ],
            "isPrimary": "0"
          }
        ],
        "settingsData": []
      },
      "backgroundImage": [],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "bodyText": "",
      "trackImpressions": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/d0b14d561ab54b83a9c70fd558560b72",
      "image": [],
      "caption": "",
      "actions": null,
      "backgroundImage": [
        {
          "key": "d8882db1-58e0-4585-ab8f-89be067bb750",
          "mediaKey": "d5b99d3e-ba57-4c23-8e69-8969e165c2e6"
        }
      ],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "bodyText": "",
      "trackImpressions": "0"
    },
    {
      "contentTypeKey": "50e4e13b-7244-4a45-b226-7c586f93bf10",
      "udi": "umb://element/c11cb94df5ed484bbfec551a123c5c66",
      "theme": [
        "invert"
      ],
      "fullWidth": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/a4675dbe1dac4be78ab8953a81b8eeb5",
      "image": [],
      "caption": "<p><a href=\"/{localLink:umb://document/3f0a1a65d5db4d3ba06e615af4233bd7}\" title=\"Home\">Home</a></p>\n<p><a href=\"/{localLink:umb://document/c90d9c440c3f4ac1b817d8971eb71610}\" title=\"Vehicle\">Vehicle Insurance</a></p>\n<p><a href=\"/{localLink:umb://document/1c43df11c4b041c6beb2bcf30d46cef6}\" title=\"Property\">Property Insurance</a></p>\n<p><a href=\"/{localLink:umb://document/9a0b0ca6f6144bdc9547d4a55c95e170}\" title=\"Personal\">Personal Insurance</a> </p>\n<p><a href=\"/{localLink:umb://document/f592aff288394d059cab47edcca87125}\" title=\"Business\">Business Insurance</a></p>\n<p><a href=\"/{localLink:umb://document/7674190935244867a28ac5140614dfc4}\" title=\"Request Quote\">Request Quote</a></p>\n<p><a href=\"/{localLink:umb://document/2f2ecc7d0d0044aeb79e7629aa3ee4fe}\" title=\"Resources\">Resources</a></p>",
      "actions": null,
      "backgroundImage": [],
      "theme": [
        "invert"
      ],
      "fullWidth": "1",
      "toneImage": "0",
      "tagLine": "Component Name in CMS: Page Footer",
      "componentName": "Page Footer"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/c34f77a3c2604513bd5aad8879403968",
      "image": [],
      "headline": " Get a motorcycle insurance quote today and savor the simplicity of joining forces with us",
      "caption": "<p>Embark on your path to comprehensive protection by clicking below to secure your personalized insurance quote within minutes. Our committed team is dedicated to ensuring you obtain the coverage essential for a worry-free tomorrow in the realm of motorcycles.</p>",
      "bodyText": "",
      "actions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/842a3f16d53b43cab15a5634682e1190"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "78a2c645-8b8a-4cb1-96b0-3a2105f4a40a",
            "udi": "umb://element/842a3f16d53b43cab15a5634682e1190",
            "label": "Get motorcycle insurance quote",
            "target": [
              {
                "name": "Request Quote",
                "udi": "umb://document/7674190935244867a28ac5140614dfc4"
              }
            ],
            "isPrimary": "1"
          }
        ],
        "settingsData": []
      },
      "backgroundImage": [],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "trackImpressions": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/659ebfca4f4f43939677563b56815efa",
      "tagLine": "Our motorcycle insurance covers key areas:",
      "image": [],
      "caption": "<ol>\n<li><strong>Liability Coverage:</strong> Protects against injury or property damage.</li>\n<li><strong>Collision Coverage:</strong> Handles repair or replacement costs after a collision.</li>\n<li><strong>Comprehensive Coverage:</strong> Safeguards against theft, vandalism, and more.</li>\n<li><strong>Uninsured/Underinsured Motorist:</strong> Covers accidents with insufficiently insured drivers.</li>\n<li><strong>Medical Payments:</strong> Assists with medical expenses for you and passengers.</li>\n<li><strong>Custom Parts and Equipment:</strong> Protects aftermarket upgrades.</li>\n</ol>\n<p>Ride confidently with our tailored motorcycle insurance. Click below to explore your coverage options.</p>",
      "bodyText": "",
      "actions": null,
      "backgroundImage": [],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "trackImpressions": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/c6e5e1190ac042e69331f54a296a44a7",
      "image": [],
      "caption": "",
      "bodyText": "",
      "actions": null,
      "backgroundImage": [
        {
          "key": "93edadd0-e665-41d0-9ca3-0843e265b0dc",
          "mediaKey": "9238a765-b737-4ad5-8f00-5434f1af9599"
        }
      ],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "trackImpressions": "0"
    },
    {
      "contentTypeKey": "50e4e13b-7244-4a45-b226-7c586f93bf10",
      "udi": "umb://element/1cd4119f09cc4ae6a7881da4d645c163",
      "theme": [
        "invert"
      ],
      "fullWidth": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/43b15d99b9184b148f8e083ec3bca098",
      "tagLine": "",
      "image": [],
      "caption": "<p>Simplify and save with our bundled Car and Motorcycle Insurance. Enjoy cost savings, streamlined coverage, and the convenience of managing both vehicles under one comprehensive policy. Click below to explore the advantages of bundling with us and protect your rides and your budget.</p>",
      "bodyText": "",
      "actions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/96d632eedc82418a83358d91a63d0753"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "78a2c645-8b8a-4cb1-96b0-3a2105f4a40a",
            "udi": "umb://element/96d632eedc82418a83358d91a63d0753",
            "label": "Request quote",
            "target": [
              {
                "name": "Request Quote",
                "udi": "umb://document/7674190935244867a28ac5140614dfc4"
              }
            ],
            "isPrimary": "1"
          }
        ],
        "settingsData": []
      },
      "backgroundImage": [],
      "theme": "",
      "fullWidth": "1",
      "toneImage": "0",
      "trackImpressions": "0",
      "headline": "Bundle Car & Moto Insurance"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/7f9270e067034e9ab6afd831ba3bcea7",
      "image": [],
      "headline": "WHY BUNDLE YOUR INSURANCE?",
      "caption": "",
      "bodyText": "<ul>\n<li><strong>Cost Savings:</strong> Unlock significant discounts by bundling your Car and Motorcycle Insurance.</li>\n<li><strong>Streamlined Coverage:</strong> Enjoy the simplicity of managing both vehicles under one comprehensive policy.</li>\n<li><strong>Convenience:</strong> Experience the ease of dealing with a single insurer for streamlined communication and hassle-free service.</li>\n</ul>",
      "actions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/81b84db387594bbebd4d2bd7590702e8"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "78a2c645-8b8a-4cb1-96b0-3a2105f4a40a",
            "udi": "umb://element/81b84db387594bbebd4d2bd7590702e8",
            "label": "Bundling resources",
            "target": [
              {
                "name": "Resources",
                "udi": "umb://document/2f2ecc7d0d0044aeb79e7629aa3ee4fe"
              }
            ],
            "isPrimary": "1"
          }
        ],
        "settingsData": []
      },
      "backgroundImage": [],
      "theme": [
        "invert"
      ],
      "fullWidth": "0",
      "toneImage": "0",
      "trackImpressions": "0"
    }
  ],
  "settingsData": []
}]]></Value>
    </components>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>