<?xml version="1.0" encoding="utf-8"?>
<Content Key="7224c19f-f979-49ee-be51-7f7fa8036672" Alias="RelevantEdge Analytics Dashboard" Level="3">
  <Info>
    <Parent Key="f1d2f427-c390-4bce-b6e2-048453722ace">About This Demo Site</Parent>
    <Path>/Home/AboutThisDemoSite/RelevantEdgeAnalyticsDashboard</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-10-21T11:09:19</CreateDate>
    <NodeName Default="RelevantEdge Analytics Dashboard">
      <Name Culture="en-us">RelevantEdge Analytics Dashboard</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="d2cf64ac-3ff8-4e81-a150-dcead48f4b58">ContentPage</Template>
  </Info>
  <Properties>
    <components>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/18b1117075de44308db3d4075e621509",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/f3cdb161c5c24b22ac5a38153b2458dc",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/273cd885a16142bd9b0f50b7dfd4b309"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/18b1117075de44308db3d4075e621509",
      "image": [],
      "caption": "<p>The Power BI dashboards below are part of the RelevantEdge end-to-end analytics solution <br>— including the RelevantEdge web tracker (based on Tail -f.js open source project).</p>\n<p>Learn more at <a rel=\"noopener\" href=\"https://www.relevant-edge.com/solutions/relevantedge-data-protection-analytics-solution/\" target=\"_blank\" title=\"relevant-edge.com\"><strong>relevant-edge.com</strong></a></p>",
      "actions": null,
      "backgroundImage": [],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "tagLine": "View the analytics for this demo site",
      "bodyText": "",
      "trackImpressions": "0"
    },
    {
      "contentTypeKey": "8c9db854-ccfc-44a1-8d35-2bfb7d9a9612",
      "udi": "umb://element/f3cdb161c5c24b22ac5a38153b2458dc",
      "reportName": "RelevantEdge web analytics solution",
      "publicLink": "https://app.powerbi.com/view?r=eyJrIjoiYWU2MTI1OTgtNzJlNC00NTIyLTk4MGYtNjE3NDM3ZjFmNWNkIiwidCI6ImFlNjBlMWYxLTkxYTAtNDFhOC1iNTNkLWVlMTVmMjY2MjFjNyIsImMiOjl9&pageName=ReportSection2ad9b5f668312577b01c",
      "height": "1450"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/273cd885a16142bd9b0f50b7dfd4b309",
      "image": [],
      "caption": "",
      "bodyText": "",
      "actions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/117d3a1214b64b7aaccd4558fffb3269"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "78a2c645-8b8a-4cb1-96b0-3a2105f4a40a",
            "udi": "umb://element/117d3a1214b64b7aaccd4558fffb3269",
            "label": "About this demo site",
            "target": [
              {
                "name": "About This Demo Site",
                "udi": "umb://document/f1d2f427c3904bceb6e2048453722ace"
              }
            ],
            "isPrimary": "0"
          }
        ],
        "settingsData": []
      },
      "backgroundImage": [],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0"
    }
  ],
  "settingsData": []
}]]></Value>
    </components>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>