<?xml version="1.0" encoding="utf-8"?>
<Content Key="1655afea-091e-401b-bca1-8ea799ea31af" Alias="Renters Insurance" Level="3">
  <Info>
    <Parent Key="1c43df11-c4b0-41c6-beb2-bcf30d46cef6">Property</Parent>
    <Path>/Home/Property/RentersInsurance</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-10-10T07:04:40</CreateDate>
    <NodeName Default="Renters Insurance">
      <Name Culture="en-us">Renters Insurance</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="d2cf64ac-3ff8-4e81-a150-dcead48f4b58">ContentPage</Template>
  </Info>
  <Properties>
    <components>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/59b7330e369b46869a3ff10f97530b1c",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/e8c1f4a73f954efea550c26ab4f8bbf4",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/4d5c49c2920d434fb76ec272082d588d",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/0cf6adc6eee646bcaececfb10f6c9060",
        "areas": [
          {
            "key": "7fadd01a-6977-41fa-a9b7-677d2f9c2baf",
            "items": [
              {
                "contentUdi": "umb://element/b96f4eb8f562496397f21b02e0f32dba",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "21233b21-9acd-49f1-89e7-62b7a19359b1",
            "items": [
              {
                "contentUdi": "umb://element/8f02388a45914c4495730e7dad6d9746",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/d98fcb3b0d1a44b9af4de4e0fdf46bd2",
        "areas": [
          {
            "key": "900b2dea-7c24-41d1-a94f-710f02c01c62",
            "items": [
              {
                "contentUdi": "umb://element/ea60dedf4cd4442f9c35d08c625d2730",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "85707c55-f442-4752-8da3-980a8e4ab5af",
            "items": [
              {
                "contentUdi": "umb://element/d02ba904c6ec4d508ac4b2bdb274e83a",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "9629d57a-66ad-491c-ac64-968f0ab4a1f2",
            "items": [
              {
                "contentUdi": "umb://element/748cf7460afb4e609d8e4cf307001b5f",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/c2ce72f4a8944dbc9ed450f97bd391b5"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/59b7330e369b46869a3ff10f97530b1c",
      "image": [],
      "headline": "Renters Insurance",
      "caption": "",
      "actions": null,
      "backgroundImage": [
        {
          "key": "53153d5f-4fef-4562-a251-34be813536b1",
          "mediaKey": "0a56f852-4c3b-4ff8-96fa-379bb789f097"
        }
      ],
      "theme": [
        "invert"
      ],
      "fullWidth": "0",
      "toneImage": "1"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/4d5c49c2920d434fb76ec272082d588d",
      "tagLine": "Renters insurance offers essential protection",
      "image": [],
      "caption": "<p>Renters looking to protect their stuff can rely on affordable renters insurance from RE, but coverage goes beyond your personal belongings. A renters insurance policy may also pay for medical bills if someone is injured due to an occurrence, or additional living expenses if your home is unlivable due to a covered loss. Get a renters insurance quote online today and see how easily you can obtain customized coverage from RE.</p>",
      "actions": null,
      "backgroundImage": [],
      "theme": [
        "invert"
      ],
      "fullWidth": "0",
      "toneImage": "1"
    },
    {
      "contentTypeKey": "50e4e13b-7244-4a45-b226-7c586f93bf10",
      "udi": "umb://element/0cf6adc6eee646bcaececfb10f6c9060",
      "theme": [
        "default"
      ],
      "fullWidth": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/b96f4eb8f562496397f21b02e0f32dba",
      "tagLine": "",
      "image": [],
      "caption": "",
      "actions": null,
      "backgroundImage": [
        {
          "key": "0b8e4e01-5a84-4735-b85d-a930e1e1aee1",
          "mediaKey": "98a14f4c-d7c8-4dc0-81a6-2b5f03dee340"
        }
      ],
      "theme": [
        "default"
      ],
      "fullWidth": "0",
      "toneImage": "1",
      "headline": "Renter's Insurance"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/8f02388a45914c4495730e7dad6d9746",
      "image": [],
      "caption": "<p><strong>Easily save on renters insurance</strong></p>\n<p>Saving on renters insurance is as simple as starting a renters insurance quote. We'll apply each discount you may qualify for as you go, saving you time and money.**Read the associated disclosure for this claim.</p>\n<p><br><strong>Bundle auto &amp; renters insurance</strong></p>\n<p>Get both an auto and renters insurance policy from Progressive and save an average of 3% on your car insurance.ΔRead the associated disclosure for this claim.</p>\n<p><strong>Quote in advance</strong></p>\n<p>Early shopping earns more savings. Get a renters insurance quote before your policy starts and earn an additional discount.+Read the associated disclosure for this property insurance claim.</p>\n<p><br><strong>Pay in full</strong></p>\n<p>Get another easy discount just by paying for your renters insurance policy in full and upfront.</p>",
      "actions": null,
      "backgroundImage": [],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0"
    },
    {
      "contentTypeKey": "97c1bbe1-fea8-4a70-8379-f35d331f04c1",
      "udi": "umb://element/d98fcb3b0d1a44b9af4de4e0fdf46bd2",
      "theme": [
        "invert"
      ],
      "fullWidth": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/d02ba904c6ec4d508ac4b2bdb274e83a",
      "tagLine": "",
      "image": [],
      "caption": "",
      "actions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/abff57ab7f4d4d08981e6245e67d54d3"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "78a2c645-8b8a-4cb1-96b0-3a2105f4a40a",
            "udi": "umb://element/abff57ab7f4d4d08981e6245e67d54d3",
            "label": "Get Quote for Renters Insurance",
            "target": [
              {
                "name": "Request Quote",
                "udi": "umb://document/7674190935244867a28ac5140614dfc4"
              }
            ],
            "isPrimary": "1"
          }
        ],
        "settingsData": []
      },
      "backgroundImage": [],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "headline": "Get Quote",
      "bodyText": "<p>Obtain a quote for our Renter's Insurance in seconds. Safeguarding your rented space is just a click away.</p>",
      "trackImpressions": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/c2ce72f4a8944dbc9ed450f97bd391b5",
      "image": [],
      "caption": "<p><a href=\"/{localLink:umb://document/3f0a1a65d5db4d3ba06e615af4233bd7}\" title=\"Home\">Home</a></p>\n<p><a href=\"/{localLink:umb://document/c90d9c440c3f4ac1b817d8971eb71610}\" title=\"Vehicle\">Vehicle Insurance</a></p>\n<p><a href=\"/{localLink:umb://document/1c43df11c4b041c6beb2bcf30d46cef6}\" title=\"Property\">Property Insurance</a></p>\n<p><a href=\"/{localLink:umb://document/9a0b0ca6f6144bdc9547d4a55c95e170}\" title=\"Personal\">Personal Insurance</a> </p>\n<p><a href=\"/{localLink:umb://document/f592aff288394d059cab47edcca87125}\" title=\"Business\">Business Insurance</a></p>\n<p><a href=\"/{localLink:umb://document/7674190935244867a28ac5140614dfc4}\" title=\"Request Quote\">Request Quote</a></p>\n<p><a href=\"/{localLink:umb://document/2f2ecc7d0d0044aeb79e7629aa3ee4fe}\" title=\"Resources\">Resources</a></p>",
      "actions": null,
      "backgroundImage": [],
      "theme": [
        "invert"
      ],
      "fullWidth": "1",
      "toneImage": "0",
      "tagLine": "Component Name in CMS: Page Footer",
      "componentName": "Page Footer"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/ea60dedf4cd4442f9c35d08c625d2730",
      "image": [],
      "caption": "",
      "actions": null,
      "backgroundImage": [],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "headline": "Only takes a minute to get a quote",
      "bodyText": "<p>Securing your peace of mind is a quick and easy process with our Renter's Insurance. It only takes a minute to get a personalized quote tailored to your needs.</p>",
      "trackImpressions": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/748cf7460afb4e609d8e4cf307001b5f",
      "image": [],
      "caption": "",
      "actions": null,
      "backgroundImage": [],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "bodyText": "<p>Discover affordability with our Renter's Insurance. Protecting your belongings and securing your peace of mind doesn't have to break the bank.</p>",
      "trackImpressions": "0",
      "headline": "Cheaper than you think"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/e8c1f4a73f954efea550c26ab4f8bbf4",
      "image": [],
      "headline": "RENTER'S INSURANCE OFFERS ESSENTIAL PROTECTION",
      "caption": "",
      "bodyText": "<p>Experience peace of mind with Renter's Insurance from us. Our policies provide essential protection for your belongings and liability coverage for unforeseen events. Safeguard your rented space with comprehensive coverage that ensures you're protected against the unexpected. Get a quote today and enjoy the security that comes with our Renter's Insurance.</p>",
      "actions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/15d01bb27c0d49a9b5e6b92356e74e56"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "78a2c645-8b8a-4cb1-96b0-3a2105f4a40a",
            "udi": "umb://element/15d01bb27c0d49a9b5e6b92356e74e56",
            "label": "Get quote now",
            "target": [
              {
                "name": "Request Quote",
                "udi": "umb://document/7674190935244867a28ac5140614dfc4"
              }
            ],
            "isPrimary": "1"
          }
        ],
        "settingsData": []
      },
      "backgroundImage": [],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "trackImpressions": "0"
    }
  ],
  "settingsData": []
}]]></Value>
    </components>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>