<?xml version="1.0" encoding="utf-8"?>
<Content Key="76741909-3524-4867-a28a-c5140614dfc4" Alias="Request Quote" Level="2">
  <Info>
    <Parent Key="3f0a1a65-d5db-4d3b-a06e-615af4233bd7">Home</Parent>
    <Path>/Home/RequestQuote</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-10-09T18:37:30</CreateDate>
    <NodeName Default="Request Quote">
      <Name Culture="en-us">Request Quote</Name>
    </NodeName>
    <SortOrder>9</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="d2cf64ac-3ff8-4e81-a150-dcead48f4b58">ContentPage</Template>
  </Info>
  <Properties>
    <components>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/4e08d20aeffb49cb8c4b0bac3d72fa58",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/06c1566300324dfc8ee66fa1287806af",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/3078c8ae2f564f239df66af3706bb2a1"
      },
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/a7cf4fd02e804918bb268d2b1e075d41"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/4e08d20aeffb49cb8c4b0bac3d72fa58",
      "image": [],
      "headline": "Request Quote",
      "caption": "",
      "actions": null,
      "backgroundImage": [
        {
          "key": "0ddcef78-cc4c-49eb-a01c-ceffd4f29214",
          "mediaKey": "aad062d4-7adc-4cda-b855-5243406e13d8"
        }
      ],
      "theme": [
        "invert"
      ],
      "fullWidth": "0",
      "toneImage": "1"
    },
    {
      "contentTypeKey": "b0ade28a-d8fd-4b1b-a422-8a0872db9213",
      "udi": "umb://element/3078c8ae2f564f239df66af3706bb2a1",
      "formName": "NewsletterForm",
      "portalId": "143425191",
      "formId": "47849258-2be0-4ea4-af72-ff26e3da8c4c"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/06c1566300324dfc8ee66fa1287806af",
      "image": [],
      "caption": "<p>You will not receive any emails if you submit the form below (even if check the subscribe checkbox). The form is for demo purposes only.</p>",
      "actions": null,
      "backgroundImage": [],
      "theme": [
        "invert"
      ],
      "fullWidth": "0",
      "toneImage": "0",
      "tagLine": "Please note: this is a demo web site.  If you submit information in the form below, the information will be visible for others to see in the analytics dashboards (and our HubSpot account). It would be best if you do not use your real name or email.",
      "bodyText": ""
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/a7cf4fd02e804918bb268d2b1e075d41",
      "image": [],
      "caption": "<p><a href=\"/{localLink:umb://document/3f0a1a65d5db4d3ba06e615af4233bd7}\" title=\"Home\">Home</a></p>\n<p><a href=\"/{localLink:umb://document/c90d9c440c3f4ac1b817d8971eb71610}\" title=\"Vehicle\">Vehicle Insurance</a></p>\n<p><a href=\"/{localLink:umb://document/1c43df11c4b041c6beb2bcf30d46cef6}\" title=\"Property\">Property Insurance</a></p>\n<p><a href=\"/{localLink:umb://document/9a0b0ca6f6144bdc9547d4a55c95e170}\" title=\"Personal\">Personal Insurance</a> </p>\n<p><a href=\"/{localLink:umb://document/f592aff288394d059cab47edcca87125}\" title=\"Business\">Business Insurance</a></p>\n<p><a href=\"/{localLink:umb://document/7674190935244867a28ac5140614dfc4}\" title=\"Request Quote\">Request Quote</a></p>\n<p><a href=\"/{localLink:umb://document/2f2ecc7d0d0044aeb79e7629aa3ee4fe}\" title=\"Resources\">Resources</a></p>",
      "actions": null,
      "backgroundImage": [],
      "theme": [
        "invert"
      ],
      "fullWidth": "1",
      "toneImage": "0",
      "tagLine": "Component Name in CMS: Page Footer",
      "componentName": "Page Footer"
    }
  ],
  "settingsData": []
}]]></Value>
    </components>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>