<?xml version="1.0" encoding="utf-8"?>
<Content Key="2f2ecc7d-0d00-44ae-b79e-7629aa3ee4fe" Alias="Resources" Level="2">
  <Info>
    <Parent Key="3f0a1a65-d5db-4d3b-a06e-615af4233bd7">Home</Parent>
    <Path>/Home/Resources</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-10-10T06:54:09</CreateDate>
    <NodeName Default="Resources">
      <Name Culture="en-us">Resources</Name>
    </NodeName>
    <SortOrder>10</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="d2cf64ac-3ff8-4e81-a150-dcead48f4b58">ContentPage</Template>
  </Info>
  <Properties>
    <components>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/e0c646a50e604408a7bd7860d359ccdb",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/f9e3777901ad4f0f8576eb8311057e87"
      },
      {
        "contentUdi": "umb://element/0bee07c3407a4e06a0456f8967e898af",
        "areas": [
          {
            "key": "7fadd01a-6977-41fa-a9b7-677d2f9c2baf",
            "items": [
              {
                "contentUdi": "umb://element/f017f8693c5e43c2a29154133566209e",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "21233b21-9acd-49f1-89e7-62b7a19359b1",
            "items": [
              {
                "contentUdi": "umb://element/228a6ff80ed64ea1906f1e0602c71f41",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "areas": [
          {
            "key": "7fadd01a-6977-41fa-a9b7-677d2f9c2baf",
            "items": [
              {
                "contentUdi": "umb://element/e4a57eba5e904ce3b7e7e0444bfbb1ad",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "21233b21-9acd-49f1-89e7-62b7a19359b1",
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/dc477a1ddfb84d9c8581291c8bedba3c"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/0f930be2a8774717b6eeefc33e28561f"
      },
      {
        "areas": [
          {
            "key": "7fadd01a-6977-41fa-a9b7-677d2f9c2baf",
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/814542c42b5f489b92661ef9afcbf7a9"
              }
            ]
          },
          {
            "key": "21233b21-9acd-49f1-89e7-62b7a19359b1",
            "items": [
              {
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1,
                "contentUdi": "umb://element/a4374692d5fe486e93670a0ff81f362c"
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/83a9d5ad6f5f49728ccefac0f69a9697"
      },
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/e921dc5d8e24413bbb4b8d902a556484"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/e0c646a50e604408a7bd7860d359ccdb",
      "headline": "Resources",
      "caption": "<p>This is a demo site.</p>",
      "actions": null,
      "theme": [
        "invert"
      ],
      "backgroundImage": [
        {
          "key": "6c9e858e-beb4-4887-afd4-4bbe855855a6",
          "mediaKey": "c002f336-585e-4d7d-a20b-d9c99c69ee8a"
        }
      ],
      "fullWidth": "0",
      "toneImage": "0",
      "image": []
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/f017f8693c5e43c2a29154133566209e",
      "headline": "Family Resources",
      "caption": "<p>Nam lacinia <strong>arcu </strong>tortor, nec luctus nibh dignissim eu nulla sit amet maximus.</p>",
      "actions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/9749c897b6c0480f85b39cecd0dac346"
            },
            {
              "contentUdi": "umb://element/083e647a31d2407d8350ebe51551732c"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "78a2c645-8b8a-4cb1-96b0-3a2105f4a40a",
            "udi": "umb://element/9749c897b6c0480f85b39cecd0dac346",
            "label": "Family Resources",
            "target": [
              {
                "name": "Family Resources",
                "udi": "umb://document/080670ae79dc4928ab25f85d6ab46385"
              }
            ],
            "isPrimary": "1"
          },
          {
            "contentTypeKey": "78a2c645-8b8a-4cb1-96b0-3a2105f4a40a",
            "udi": "umb://element/083e647a31d2407d8350ebe51551732c",
            "label": "First Time Buyers",
            "target": [
              {
                "name": "First Time Buyers",
                "udi": "umb://document/eb90d28d52224a3f8f6e82bfddb189e4"
              }
            ],
            "isPrimary": "0"
          }
        ],
        "settingsData": []
      },
      "theme": [
        "default"
      ],
      "backgroundImage": [],
      "fullWidth": "0",
      "tagLine": "Ensuring your insurance ",
      "image": [],
      "toneImage": "0"
    },
    {
      "contentTypeKey": "50e4e13b-7244-4a45-b226-7c586f93bf10",
      "udi": "umb://element/0bee07c3407a4e06a0456f8967e898af",
      "theme": "",
      "fullWidth": "0"
    },
    {
      "contentTypeKey": "50e4e13b-7244-4a45-b226-7c586f93bf10",
      "udi": "umb://element/0f930be2a8774717b6eeefc33e28561f",
      "theme": [
        "invert"
      ],
      "fullWidth": "1"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/dc477a1ddfb84d9c8581291c8bedba3c",
      "headline": "Resources for businesses",
      "caption": "<p>Nam lacinia <strong>arcu </strong>tortor, nec luctus nibh dignissim eu nulla sit amet maximus.</p>",
      "actions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/0499b019a6084bcebdf7d6aa3f0b262f"
            },
            {
              "contentUdi": "umb://element/783a5a7681d043a78003fb8cae7023c2"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "78a2c645-8b8a-4cb1-96b0-3a2105f4a40a",
            "udi": "umb://element/0499b019a6084bcebdf7d6aa3f0b262f",
            "label": "Business Resources",
            "target": [
              {
                "name": "Business Resources",
                "udi": "umb://document/3ce5661a5e9540be94f4b21c9ee395cb"
              }
            ],
            "isPrimary": "1"
          },
          {
            "contentTypeKey": "78a2c645-8b8a-4cb1-96b0-3a2105f4a40a",
            "udi": "umb://element/783a5a7681d043a78003fb8cae7023c2",
            "label": "Business Insurance",
            "target": [
              {
                "name": "Business",
                "udi": "umb://document/f592aff288394d059cab47edcca87125"
              }
            ],
            "isPrimary": "1"
          }
        ],
        "settingsData": []
      },
      "theme": [
        "dark"
      ],
      "backgroundImage": [],
      "fullWidth": "0",
      "tagLine": "Business Resources",
      "image": [],
      "toneImage": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/f9e3777901ad4f0f8576eb8311057e87",
      "headline": "Learning Center for Insurance Topics",
      "caption": "<p>Quisque blandit dolor risus, sed dapibus dui facilisis sed. Donec eu porta elit. Aliquam porta sollicitudin ante, ac fermentum orci mattis et. Phasellus ac nibh eleifend, sagittis purus nec, elementum massa.</p>\n<p>Neatly organized into sections that allow you to build websites without any coding knowledge.</p>",
      "actions": null,
      "theme": "",
      "backgroundImage": [],
      "fullWidth": "0",
      "image": [],
      "toneImage": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/228a6ff80ed64ea1906f1e0602c71f41",
      "backgroundImage": [
        {
          "key": "4578ab78-25b0-4803-8c06-748338c2a235",
          "mediaKey": "414c4d2a-693f-4040-bf72-72e785374cd7"
        }
      ],
      "caption": "",
      "actions": null,
      "theme": [
        "invert"
      ],
      "fullWidth": "0",
      "headline": "Get the coverage you need",
      "toneImage": "1",
      "image": []
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/e4a57eba5e904ce3b7e7e0444bfbb1ad",
      "backgroundImage": [
        {
          "key": "fbfc2c5e-7fb1-449e-9ced-73be2472ab08",
          "mediaKey": "77f338dd-19cf-46ce-945c-5acc30a44366"
        }
      ],
      "caption": "",
      "actions": null,
      "theme": [
        "invert"
      ],
      "fullWidth": "0",
      "image": [],
      "headline": "Business Insurance Resources",
      "toneImage": "1"
    },
    {
      "contentTypeKey": "50e4e13b-7244-4a45-b226-7c586f93bf10",
      "udi": "umb://element/83a9d5ad6f5f49728ccefac0f69a9697",
      "theme": [
        "invert"
      ],
      "fullWidth": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/814542c42b5f489b92661ef9afcbf7a9",
      "image": [
        {
          "key": "c7c6b299-9567-4255-8860-eb69684d4db4",
          "mediaKey": "ac828701-b07d-473f-8295-2ca74972efd4"
        }
      ],
      "caption": "",
      "actions": null,
      "backgroundImage": [],
      "theme": [
        "default"
      ],
      "fullWidth": "0",
      "toneImage": "1",
      "headline": "",
      "tagLine": "Why Private Client?"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/a4374692d5fe486e93670a0ff81f362c",
      "tagLine": "",
      "image": [],
      "caption": "",
      "actions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/152c8614c84c4dc59bbe40172ed4b3d6"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "78a2c645-8b8a-4cb1-96b0-3a2105f4a40a",
            "udi": "umb://element/152c8614c84c4dc59bbe40172ed4b3d6",
            "label": "High Wealth Resources",
            "target": [
              {
                "name": "High Wealth",
                "udi": "umb://document/4fb48f1333534488b2323f27342247d1"
              }
            ],
            "isPrimary": "1"
          }
        ],
        "settingsData": []
      },
      "backgroundImage": [],
      "theme": "",
      "fullWidth": "1",
      "toneImage": "0",
      "headline": "Coverage crafted to keep pace with your changing needs and a rapidly evolving world"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/e921dc5d8e24413bbb4b8d902a556484",
      "image": [],
      "caption": "<p><a href=\"/{localLink:umb://document/3f0a1a65d5db4d3ba06e615af4233bd7}\" title=\"Home\">Home</a></p>\n<p><a href=\"/{localLink:umb://document/c90d9c440c3f4ac1b817d8971eb71610}\" title=\"Vehicle\">Vehicle Insurance</a></p>\n<p><a href=\"/{localLink:umb://document/1c43df11c4b041c6beb2bcf30d46cef6}\" title=\"Property\">Property Insurance</a></p>\n<p><a href=\"/{localLink:umb://document/9a0b0ca6f6144bdc9547d4a55c95e170}\" title=\"Personal\">Personal Insurance</a> </p>\n<p><a href=\"/{localLink:umb://document/f592aff288394d059cab47edcca87125}\" title=\"Business\">Business Insurance</a></p>\n<p><a href=\"/{localLink:umb://document/7674190935244867a28ac5140614dfc4}\" title=\"Request Quote\">Request Quote</a></p>\n<p><a href=\"/{localLink:umb://document/2f2ecc7d0d0044aeb79e7629aa3ee4fe}\" title=\"Resources\">Resources</a></p>",
      "actions": null,
      "backgroundImage": [],
      "theme": [
        "invert"
      ],
      "fullWidth": "1",
      "toneImage": "0",
      "tagLine": "Component Name in CMS: Page Footer",
      "componentName": "Page Footer"
    }
  ],
  "settingsData": []
}]]></Value>
    </components>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>