<?xml version="1.0" encoding="utf-8"?>
<Content Key="1a3fce8f-0182-40d2-a863-504fcff8a13e" Alias="Travel Insurance" Level="3">
  <Info>
    <Parent Key="9a0b0ca6-f614-4bdc-9547-d4a55c95e170">Personal</Parent>
    <Path>/Home/Personal/TravelInsurance</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-10-10T07:06:25</CreateDate>
    <NodeName Default="Travel Insurance">
      <Name Culture="en-us">Travel Insurance</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="d2cf64ac-3ff8-4e81-a150-dcead48f4b58">ContentPage</Template>
  </Info>
  <Properties>
    <components>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/7ac1a7461f1f4f958197d2cb9142da91",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/f8e48bcbd77941909bbb9a14f8e45b45",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/115a0d35010a45e29416cd8ac7bc3486",
        "areas": [
          {
            "key": "7fadd01a-6977-41fa-a9b7-677d2f9c2baf",
            "items": [
              {
                "contentUdi": "umb://element/ab6687d97b2e4bf4af6bb0e372b7bc56",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "21233b21-9acd-49f1-89e7-62b7a19359b1",
            "items": [
              {
                "contentUdi": "umb://element/81f95bdc9ced40be84ddc92b8fcdd9ce",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/a2d22635900040f6b76f822286960ab4",
        "areas": [
          {
            "key": "900b2dea-7c24-41d1-a94f-710f02c01c62",
            "items": [
              {
                "contentUdi": "umb://element/31b112364b3e4d13b2003f981c969224",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "85707c55-f442-4752-8da3-980a8e4ab5af",
            "items": [
              {
                "contentUdi": "umb://element/6ee614e571264286916caae2f1c0a41c",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "9629d57a-66ad-491c-ac64-968f0ab4a1f2",
            "items": [
              {
                "contentUdi": "umb://element/dfaf4b1d9ff24ed99052869ca9f1573a",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/5cfc4544acf443b6bc2872ac150004e7",
        "areas": [
          {
            "key": "7fadd01a-6977-41fa-a9b7-677d2f9c2baf",
            "items": [
              {
                "contentUdi": "umb://element/aec8409223e540da850313c8c8c55653",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "21233b21-9acd-49f1-89e7-62b7a19359b1",
            "items": [
              {
                "contentUdi": "umb://element/8cb5a7ae621145fd9073122ab54b4d91",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/81b7c657883348fbbdd48b1b29db0546"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/7ac1a7461f1f4f958197d2cb9142da91",
      "image": [],
      "headline": "Travel Insurance",
      "caption": "",
      "actions": null,
      "backgroundImage": [
        {
          "key": "0c8317bf-9d21-4fc0-b67f-9be3ec368ab6",
          "mediaKey": "a8e6ac89-2d1b-4334-a6f9-5d159d3abaf3"
        }
      ],
      "theme": [
        "invert"
      ],
      "fullWidth": "0",
      "toneImage": "1"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/f8e48bcbd77941909bbb9a14f8e45b45",
      "image": [],
      "headline": "Compare and quote travel insurance to find the right coverage for your trip",
      "caption": "<p>Access the industry's best vacation insurance companies through<span> </span>Progressive<span> travel insurance from InsureMyTrip. You can quote, compare, and buy affordable plans to cover your concerns at a price that fits your budget. Plus, you'll travel worry-free knowing your trip is insured and backed by three guarantees:</span></p>",
      "actions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/75e168f5348845b597a8625e14d2c647"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "78a2c645-8b8a-4cb1-96b0-3a2105f4a40a",
            "udi": "umb://element/75e168f5348845b597a8625e14d2c647",
            "label": "Request quote",
            "target": [
              {
                "name": "Request Quote",
                "udi": "umb://document/7674190935244867a28ac5140614dfc4"
              }
            ],
            "isPrimary": "1"
          }
        ],
        "settingsData": []
      },
      "backgroundImage": [],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "bodyText": "",
      "trackImpressions": "0"
    },
    {
      "contentTypeKey": "50e4e13b-7244-4a45-b226-7c586f93bf10",
      "udi": "umb://element/115a0d35010a45e29416cd8ac7bc3486",
      "theme": [
        "default"
      ],
      "fullWidth": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/ab6687d97b2e4bf4af6bb0e372b7bc56",
      "image": [],
      "headline": "",
      "caption": "",
      "actions": null,
      "backgroundImage": [
        {
          "key": "d8545953-8193-4910-ae3f-a3e6512c8751",
          "mediaKey": "13da9c0a-c38d-4739-84f5-70aea33e891b"
        }
      ],
      "theme": [
        "invert"
      ],
      "fullWidth": "0",
      "toneImage": "1",
      "bodyText": "",
      "trackImpressions": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/81f95bdc9ced40be84ddc92b8fcdd9ce",
      "image": [],
      "caption": "<p>A comprehensive travel policy gives you the most coverage — it typically includes trip cancellation, trip interruption, lost baggage, emergency medical coverage, emergency evacuation, and more. But each policy and insurer is different, so compare your options carefully. Here's how each of the coverages on a comprehensive policy generally work</p>",
      "actions": null,
      "backgroundImage": [],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "headline": "Travel insurance coverages",
      "bodyText": "",
      "trackImpressions": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/81b7c657883348fbbdd48b1b29db0546",
      "image": [],
      "caption": "<p><a href=\"/{localLink:umb://document/3f0a1a65d5db4d3ba06e615af4233bd7}\" title=\"Home\">Home</a></p>\n<p><a href=\"/{localLink:umb://document/c90d9c440c3f4ac1b817d8971eb71610}\" title=\"Vehicle\">Vehicle Insurance</a></p>\n<p><a href=\"/{localLink:umb://document/1c43df11c4b041c6beb2bcf30d46cef6}\" title=\"Property\">Property Insurance</a></p>\n<p><a href=\"/{localLink:umb://document/9a0b0ca6f6144bdc9547d4a55c95e170}\" title=\"Personal\">Personal Insurance</a> </p>\n<p><a href=\"/{localLink:umb://document/f592aff288394d059cab47edcca87125}\" title=\"Business\">Business Insurance</a></p>\n<p><a href=\"/{localLink:umb://document/7674190935244867a28ac5140614dfc4}\" title=\"Request Quote\">Request Quote</a></p>\n<p><a href=\"/{localLink:umb://document/2f2ecc7d0d0044aeb79e7629aa3ee4fe}\" title=\"Resources\">Resources</a></p>",
      "actions": null,
      "backgroundImage": [],
      "theme": [
        "invert"
      ],
      "fullWidth": "1",
      "toneImage": "0",
      "tagLine": "Component Name in CMS: Page Footer",
      "componentName": "Page Footer"
    },
    {
      "contentTypeKey": "97c1bbe1-fea8-4a70-8379-f35d331f04c1",
      "udi": "umb://element/a2d22635900040f6b76f822286960ab4",
      "theme": [
        "invert"
      ],
      "fullWidth": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/31b112364b3e4d13b2003f981c969224",
      "image": [],
      "headline": "WORRY-FREE EXPLORATION",
      "caption": "",
      "bodyText": "<p>Enjoy worry-free travel with our Travel Insurance. Whether you're exploring new destinations or embarking on business trips, our coverage ensures you have the support you need, allowing you to focus on creating unforgettable memories.</p>",
      "actions": null,
      "backgroundImage": [],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "trackImpressions": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/6ee614e571264286916caae2f1c0a41c",
      "image": [],
      "headline": "FINANCIAL PROTECTION ABROAD",
      "caption": "",
      "bodyText": "<p>Travel confidently knowing that our Travel Insurance provides financial protection abroad. From medical emergencies to trip cancellations, our policies offer a safety net, ensuring you're covered for unexpected events during your journey.</p>",
      "actions": null,
      "backgroundImage": [],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "trackImpressions": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/dfaf4b1d9ff24ed99052869ca9f1573a",
      "image": [],
      "headline": "CUSTOMIZED COVERAGE OPTIONS",
      "caption": "",
      "bodyText": "<p>Tailor your travel protection with our flexible Travel Insurance options. Whether you're an occasional traveler or a frequent globetrotter, our customizable plans allow you to choose coverage that aligns with your specific needs, providing peace of mind wherever your adventures take you.</p>",
      "actions": null,
      "backgroundImage": [],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "trackImpressions": "0"
    },
    {
      "contentTypeKey": "50e4e13b-7244-4a45-b226-7c586f93bf10",
      "udi": "umb://element/5cfc4544acf443b6bc2872ac150004e7",
      "theme": [
        "default"
      ],
      "fullWidth": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/aec8409223e540da850313c8c8c55653",
      "tagLine": "TRAVEL INSURANCE RESOURCES",
      "image": [],
      "headline": "PLAN YOUR JOURNEY WITH CONFIDENCE",
      "caption": "",
      "bodyText": "<p>Embark on your travels with confidence by exploring our Travel Insurance Resources. From understanding coverage details to travel tips and safety guidelines, our resources are designed to empower you. Click below to access our Travel Insurance Resources page and ensure your journeys are not only memorable but also worry-free.</p>",
      "actions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/5885a1f669ed4af5a668564ad1a3cfe8"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "78a2c645-8b8a-4cb1-96b0-3a2105f4a40a",
            "udi": "umb://element/5885a1f669ed4af5a668564ad1a3cfe8",
            "label": "Travel insurance resources",
            "target": [
              {
                "name": "Resources",
                "udi": "umb://document/2f2ecc7d0d0044aeb79e7629aa3ee4fe"
              }
            ],
            "isPrimary": "1"
          }
        ],
        "settingsData": []
      },
      "backgroundImage": [],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "trackImpressions": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/8cb5a7ae621145fd9073122ab54b4d91",
      "image": [],
      "caption": "",
      "bodyText": "",
      "actions": null,
      "backgroundImage": [
        {
          "key": "5fae19a7-f505-4ca9-9760-78538a814a37",
          "mediaKey": "6465b50d-a20b-4211-bd6c-3dd0f5ca81c4"
        }
      ],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0",
      "trackImpressions": "0"
    }
  ],
  "settingsData": []
}]]></Value>
    </components>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>