<?xml version="1.0" encoding="utf-8"?>
<Content Key="c90d9c44-0c3f-4ac1-b817-d8971eb71610" Alias="Vehicle" Level="2">
  <Info>
    <Parent Key="3f0a1a65-d5db-4d3b-a06e-615af4233bd7">Home</Parent>
    <Path>/Home/Vehicle</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-10-09T18:15:28</CreateDate>
    <NodeName Default="Vehicle">
      <Name Culture="en-us">Vehicle</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="d2cf64ac-3ff8-4e81-a150-dcead48f4b58">ContentPage</Template>
  </Info>
  <Properties>
    <components>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/6e17c13aa9d245a88de43abc54d00bf2",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/b0ef30e200c54012ab10c2cb2cd43be4",
        "areas": [
          {
            "key": "900b2dea-7c24-41d1-a94f-710f02c01c62",
            "items": [
              {
                "contentUdi": "umb://element/3d51df25e2f44f58a39dbdcf432a252a",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "85707c55-f442-4752-8da3-980a8e4ab5af",
            "items": [
              {
                "contentUdi": "umb://element/64a7cbe703f944558026ee047c656d78",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "9629d57a-66ad-491c-ac64-968f0ab4a1f2",
            "items": [
              {
                "contentUdi": "umb://element/a00cea67d13549cfb76aa65ce322cc49",
                "areas": [],
                "columnSpan": 4,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/ef38608efae84b9ba6154ee0506ec457",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/4fe4e01cabef434996adf0ce46028572",
        "areas": [
          {
            "key": "7fadd01a-6977-41fa-a9b7-677d2f9c2baf",
            "items": [
              {
                "contentUdi": "umb://element/3765969f010e47e099325b003b8db5fb",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          },
          {
            "key": "21233b21-9acd-49f1-89e7-62b7a19359b1",
            "items": [
              {
                "contentUdi": "umb://element/af81321ae7f240ba912dcf01d88e74d3",
                "areas": [],
                "columnSpan": 6,
                "rowSpan": 1
              }
            ]
          }
        ],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "contentUdi": "umb://element/d1bbe2a21a1149ce92eb40e911b2f27f",
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1
      },
      {
        "areas": [],
        "columnSpan": 12,
        "rowSpan": 1,
        "contentUdi": "umb://element/f2aa48ee0d604f4cbcf7c3505f046b5a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/6e17c13aa9d245a88de43abc54d00bf2",
      "image": [],
      "headline": "Vehicle insurance",
      "caption": "",
      "actions": null,
      "backgroundImage": [
        {
          "key": "43bf72ac-660c-4846-9237-ecc827001b94",
          "mediaKey": "f2c771bb-0e14-47ab-b108-e08294fafe5a"
        }
      ],
      "theme": [
        "invert"
      ],
      "fullWidth": "0",
      "toneImage": "1"
    },
    {
      "contentTypeKey": "97c1bbe1-fea8-4a70-8379-f35d331f04c1",
      "udi": "umb://element/b0ef30e200c54012ab10c2cb2cd43be4",
      "theme": [
        "default"
      ],
      "fullWidth": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/3d51df25e2f44f58a39dbdcf432a252a",
      "image": [],
      "headline": "Car Insurance",
      "caption": "",
      "actions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/fc0d03c191bf4834b1eb2b6be5dc719c"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "78a2c645-8b8a-4cb1-96b0-3a2105f4a40a",
            "udi": "umb://element/fc0d03c191bf4834b1eb2b6be5dc719c",
            "label": "Car Insurance",
            "target": [
              {
                "name": "Car Insurance",
                "udi": "umb://document/52094eb908504dcba4794cc44dc8c50a"
              }
            ],
            "isPrimary": "1"
          }
        ],
        "settingsData": []
      },
      "backgroundImage": [
        {
          "key": "75684aa2-5d53-467e-8110-5373ad4a04c2",
          "mediaKey": "a69b2706-d9af-44b9-9559-b91c54da8908"
        }
      ],
      "theme": [
        "invert"
      ],
      "fullWidth": "0",
      "toneImage": "1",
      "componentName": "Car insurance"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/64a7cbe703f944558026ee047c656d78",
      "image": [],
      "headline": "Truck Insurance",
      "caption": "",
      "actions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/7a60023057764819a5b6a86d5915ceb3"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "78a2c645-8b8a-4cb1-96b0-3a2105f4a40a",
            "udi": "umb://element/7a60023057764819a5b6a86d5915ceb3",
            "label": "Truck Insurance",
            "target": [
              {
                "name": "Truck Insurance",
                "udi": "umb://document/3c841bd32feb4f95abebd34286eab50d"
              }
            ],
            "isPrimary": "1"
          }
        ],
        "settingsData": []
      },
      "backgroundImage": [
        {
          "key": "99c4b155-1022-4926-9886-86890b2e039e",
          "mediaKey": "d58eaf9a-0c04-4b92-ba69-61c9ee5632ac"
        }
      ],
      "theme": [
        "invert"
      ],
      "fullWidth": "0",
      "toneImage": "1"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/a00cea67d13549cfb76aa65ce322cc49",
      "image": [],
      "headline": "Motorcycle Insurance",
      "caption": "",
      "actions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/1ea3f0a4ce44452bb4dff64a98e5bf41"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "78a2c645-8b8a-4cb1-96b0-3a2105f4a40a",
            "udi": "umb://element/1ea3f0a4ce44452bb4dff64a98e5bf41",
            "label": "Motorcycle Insurance",
            "target": [
              {
                "name": "Motorcycle insurance",
                "udi": "umb://document/ff6963e2ac8a4d13bee1dc10aba2ac0e"
              }
            ],
            "isPrimary": "1"
          }
        ],
        "settingsData": []
      },
      "backgroundImage": [
        {
          "key": "e1f6e234-9f66-486d-a4eb-c3fe79fc91c7",
          "mediaKey": "cad67340-6188-4253-8492-a0f67e98b654"
        }
      ],
      "theme": [
        "invert"
      ],
      "fullWidth": "0",
      "toneImage": "1"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/d1bbe2a21a1149ce92eb40e911b2f27f",
      "tagLine": "",
      "image": [
        {
          "key": "0af14467-0716-4b7f-b031-8c8485ef9397",
          "mediaKey": "c002f336-585e-4d7d-a20b-d9c99c69ee8a"
        }
      ],
      "headline": "Bundle insurance and save",
      "caption": "<p>Insurance gives you peace of mind. And with multi-policy and other discounts, such as the SmartRide and SmartMiles usage-based programs, you also get value. With our On Your Side Claims Service, you'll receive personal service, and when you choose an On Your Side Auto Repair Network facility, you'll have a written guarantee on your car repairs.<br><br>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. <br><br>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>\n<p> </p>",
      "actions": null,
      "backgroundImage": [],
      "theme": "",
      "fullWidth": "0",
      "toneImage": "0"
    },
    {
      "contentTypeKey": "50e4e13b-7244-4a45-b226-7c586f93bf10",
      "udi": "umb://element/4fe4e01cabef434996adf0ce46028572",
      "theme": [
        "default"
      ],
      "fullWidth": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/3765969f010e47e099325b003b8db5fb",
      "tagLine": "What affects my car insurance rate?",
      "image": [],
      "caption": "<ul>\n<li>Where you live</li>\n<li>Your driving record</li>\n<li>How often you drive</li>\n<li>Cost to repair your vehicle</li>\n<li>If your car has safety issues</li>\n</ul>",
      "actions": null,
      "backgroundImage": [],
      "theme": [
        "invert"
      ],
      "fullWidth": "0",
      "toneImage": "0",
      "bodyText": "",
      "trackImpressions": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/af81321ae7f240ba912dcf01d88e74d3",
      "tagLine": "What does car insurance cover?",
      "image": [],
      "caption": "<ul>\n<li>Injury to you or someone else</li>\n<li>Damage to someone else's car</li>\n<li>Damaged property</li>\n<li>Personal damage</li>\n<li>Windshield</li>\n</ul>",
      "actions": null,
      "backgroundImage": [],
      "theme": [
        "default"
      ],
      "fullWidth": "0",
      "toneImage": "0"
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/ef38608efae84b9ba6154ee0506ec457",
      "tagLine": "Calculate your car insurance cost using the calculator below",
      "image": [],
      "caption": "",
      "actions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/0ade28786fa747db905341913f20cda0"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "78a2c645-8b8a-4cb1-96b0-3a2105f4a40a",
            "udi": "umb://element/0ade28786fa747db905341913f20cda0",
            "label": "Click Here to Complete Your Calculation",
            "target": [
              {
                "name": "Car insurance calculation complete",
                "udi": "umb://document/7a80ca24e92d4ef79227017c676a98b4"
              }
            ],
            "isPrimary": "0"
          }
        ],
        "settingsData": []
      },
      "backgroundImage": [],
      "theme": [
        "default"
      ],
      "fullWidth": "0",
      "toneImage": "1",
      "bodyText": "<p style=\"padding-left: 320px;\"><img src=\"?rmode=max&amp;width=478&amp;height=678\" alt=\"\" width=\"478\" height=\"678\" data-udi=\"umb://media/7d3f07bf0d274e47b4e40235ba2348ee\"></p>",
      "trackImpressions": "1",
      "componentName": "Calculator",
      "trackingTags": [
        "form",
        "value=high"
      ]
    },
    {
      "contentTypeKey": "7d7a2ab6-443a-48e4-a473-055887e995a4",
      "udi": "umb://element/f2aa48ee0d604f4cbcf7c3505f046b5a",
      "image": [],
      "caption": "<p><a href=\"/{localLink:umb://document/3f0a1a65d5db4d3ba06e615af4233bd7}\" title=\"Home\">Home</a></p>\n<p><a href=\"/{localLink:umb://document/c90d9c440c3f4ac1b817d8971eb71610}\" title=\"Vehicle\">Vehicle Insurance</a></p>\n<p><a href=\"/{localLink:umb://document/1c43df11c4b041c6beb2bcf30d46cef6}\" title=\"Property\">Property Insurance</a></p>\n<p><a href=\"/{localLink:umb://document/9a0b0ca6f6144bdc9547d4a55c95e170}\" title=\"Personal\">Personal Insurance</a> </p>\n<p><a href=\"/{localLink:umb://document/f592aff288394d059cab47edcca87125}\" title=\"Business\">Business Insurance</a></p>\n<p><a href=\"/{localLink:umb://document/7674190935244867a28ac5140614dfc4}\" title=\"Request Quote\">Request Quote</a></p>\n<p><a href=\"/{localLink:umb://document/2f2ecc7d0d0044aeb79e7629aa3ee4fe}\" title=\"Resources\">Resources</a></p>",
      "actions": null,
      "backgroundImage": [],
      "theme": [
        "invert"
      ],
      "fullWidth": "1",
      "toneImage": "0",
      "tagLine": "Component Name in CMS: Page Footer",
      "componentName": "Page Footer"
    }
  ],
  "settingsData": []
}]]></Value>
    </components>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>