<?xml version="1.0" encoding="utf-8"?>
<Media Key="29f6b6c1-84a9-49a3-b08e-c2f57ccf9bd1" Alias="Banner 05" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Banner05</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-12T03:38:39</CreateDate>
    <NodeName Default="Banner 05" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <caption>
      <Value><![CDATA[]]></Value>
    </caption>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/y41pmknj/banner-05.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>