<?xml version="1.0" encoding="utf-8"?>
<Media Key="77f338dd-19cf-46ce-945c-5acc30a44366" Alias="Banner 02" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Banner02</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-11T16:16:34</CreateDate>
    <NodeName Default="Banner 02" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <caption>
      <Value><![CDATA[]]></Value>
    </caption>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1m2pg34p/banner-02.jpg",
  "focalPoint": {
    "left": 0.5721555474417662,
    "top": 0.35267387855529414
  }
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>