<?xml version="1.0" encoding="utf-8"?>
<Media Key="e8532533-ccb1-4dd1-8eb2-ef2ed2dda43b" Alias="Bottom Cta Flood Roof Rain 850@2X" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BottomCtaFloodRoofRain8502X</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-19T19:07:20</CreateDate>
    <NodeName Default="Bottom Cta Flood Roof Rain 850@2X" />
    <SortOrder>46</SortOrder>
  </Info>
  <Properties>
    <caption>
      <Value><![CDATA[]]></Value>
    </caption>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gusfh0fr/bottom-cta_flood_roof-rain_850-2x.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>