<?xml version="1.0" encoding="utf-8"?>
<Media Key="9238a765-b737-4ad5-8f00-5434f1af9599" Alias="Business Ins" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BusinessIns</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-09T19:23:00</CreateDate>
    <NodeName Default="Business Ins" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <caption>
      <Value><![CDATA[]]></Value>
    </caption>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/motdrerx/business-ins.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>