<?xml version="1.0" encoding="utf-8"?>
<Media Key="7d3f07bf-0d27-4e47-b4e4-0235ba2348ee" Alias="Calculator" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Calculator</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-11T17:03:02</CreateDate>
    <NodeName Default="Calculator" />
    <SortOrder>41</SortOrder>
  </Info>
  <Properties>
    <caption>
      <Value><![CDATA[]]></Value>
    </caption>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xedd45jh/calculator.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>