<?xml version="1.0" encoding="utf-8"?>
<Media Key="f2c771bb-0e14-47ab-b108-e08294fafe5a" Alias="Car Insurance" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CarInsurance</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-09T19:38:27</CreateDate>
    <NodeName Default="Car Insurance" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <caption>
      <Value><![CDATA[]]></Value>
    </caption>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xvynp2qu/car-insurance.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>