<?xml version="1.0" encoding="utf-8"?>
<Media Key="a69b2706-d9af-44b9-9559-b91c54da8908" Alias="Car Small" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CarSmall</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-10T10:23:33</CreateDate>
    <NodeName Default="Car Small" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <caption>
      <Value><![CDATA[]]></Value>
    </caption>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/aatjxjvp/car-small.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>