<?xml version="1.0" encoding="utf-8"?>
<Media Key="a280b97f-052e-4d75-816b-019b0b1c42a2" Alias="Cats" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Cats</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-11T20:00:46</CreateDate>
    <NodeName Default="Cats" />
    <SortOrder>43</SortOrder>
  </Info>
  <Properties>
    <caption>
      <Value><![CDATA[]]></Value>
    </caption>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pg2jbiro/cats.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>