<?xml version="1.0" encoding="utf-8"?>
<Media Key="d303eeb8-8f3b-45fa-a154-ac86834ca5d3" Alias="City" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/City</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-09T04:14:11</CreateDate>
    <NodeName Default="City" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rhxahuz1/city.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>