<?xml version="1.0" encoding="utf-8"?>
<Media Key="76935502-0905-43ec-9f83-a865b4296947" Alias="Dog Cat" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DogCat</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-11T19:58:41</CreateDate>
    <NodeName Default="Dog Cat" />
    <SortOrder>42</SortOrder>
  </Info>
  <Properties>
    <caption>
      <Value><![CDATA[]]></Value>
    </caption>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/arkjg3qf/dog-cat.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>