<?xml version="1.0" encoding="utf-8"?>
<Media Key="b399e6bc-6f4b-4e24-9439-b412f8214cd2" Alias="Engine Color" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/EngineColor</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-09T04:50:57</CreateDate>
    <NodeName Default="Engine Color" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rxtjtm0l/engine-color.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>