<?xml version="1.0" encoding="utf-8"?>
<Media Key="0325b604-906a-420e-8699-b2009f77edb8" Alias="Engine" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Engine</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-09T04:49:01</CreateDate>
    <NodeName Default="Engine" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gw1cka1k/engine.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>