<?xml version="1.0" encoding="utf-8"?>
<Media Key="8f156077-ddd8-4714-a79a-965bcabe26b8" Alias="Farm" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Farm</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-11T08:18:09</CreateDate>
    <NodeName Default="Farm" />
    <SortOrder>40</SortOrder>
  </Info>
  <Properties>
    <caption>
      <Value><![CDATA[]]></Value>
    </caption>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ofqbld4y/farm.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>