<?xml version="1.0" encoding="utf-8"?>
<Media Key="a7371173-2949-43b6-a3e4-93eedd604f40" Alias="Flood Hero" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FloodHero</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-10T18:52:30</CreateDate>
    <NodeName Default="Flood Hero" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <caption>
      <Value><![CDATA[]]></Value>
    </caption>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ouidpj0j/flood-hero.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>