<?xml version="1.0" encoding="utf-8"?>
<Media Key="0f772bfc-d84b-41c9-801e-da9264ed2962" Alias="Heart Lock" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HeartLock</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-09T04:50:27</CreateDate>
    <NodeName Default="Heart Lock" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zuvhod0l/heart-lock.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>