<?xml version="1.0" encoding="utf-8"?>
<Media Key="98a14f4c-d7c8-4dc0-81a6-2b5f03dee340" Alias="Home Small 3" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomeSmall3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-19T18:50:44</CreateDate>
    <NodeName Default="Home Small 3" />
    <SortOrder>45</SortOrder>
  </Info>
  <Properties>
    <caption>
      <Value><![CDATA[]]></Value>
    </caption>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/jjhldggi/home-small-3.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>