<?xml version="1.0" encoding="utf-8"?>
<Media Key="495ac04a-eb25-405b-9644-de872ff47fc8" Alias="Home Hero Finance" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomeHeroFinance</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-09T15:27:01</CreateDate>
    <NodeName Default="Home Hero Finance" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <caption>
      <Value><![CDATA[]]></Value>
    </caption>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/jtafusjf/home-hero-finance.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>