<?xml version="1.0" encoding="utf-8"?>
<Media Key="498e7b79-db71-4b0f-a523-1add3716a9bc" Alias="Home Ins" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomeIns</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-10T18:42:43</CreateDate>
    <NodeName Default="Home Ins" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <caption>
      <Value><![CDATA[]]></Value>
    </caption>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/p33j2slr/home-ins.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>