<?xml version="1.0" encoding="utf-8"?>
<Media Key="7100edc7-1c48-419d-ab6a-dfce635cfdc4" Alias="Image Break Windshield" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ImageBreakWindshield</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-10T15:11:03</CreateDate>
    <NodeName Default="Image Break Windshield" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <caption>
      <Value><![CDATA[]]></Value>
    </caption>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/yhwba2ki/image-break-windshield.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>