<?xml version="1.0" encoding="utf-8"?>
<Media Key="35e809f0-5210-4aae-ad02-f865919c4b00" Alias="Life3jpg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Life3jpg1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-19T19:22:01</CreateDate>
    <NodeName Default="Life3jpg (1)" />
    <SortOrder>48</SortOrder>
  </Info>
  <Properties>
    <caption>
      <Value><![CDATA[]]></Value>
    </caption>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4yepqniq/life3jpg.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>