<?xml version="1.0" encoding="utf-8"?>
<Media Key="414c4d2a-693f-4040-bf72-72e785374cd7" Alias="Life3jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Life3jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-19T19:18:49</CreateDate>
    <NodeName Default="Life3jpg" />
    <SortOrder>47</SortOrder>
  </Info>
  <Properties>
    <caption>
      <Value><![CDATA[]]></Value>
    </caption>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/frgfyqj5/life3jpg.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>