<?xml version="1.0" encoding="utf-8"?>
<Media Key="cad67340-6188-4253-8492-a0f67e98b654" Alias="Motorcycle Small" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MotorcycleSmall</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-10T10:25:42</CreateDate>
    <NodeName Default="Motorcycle Small" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <caption>
      <Value><![CDATA[]]></Value>
    </caption>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/izznnsui/motorcycle-small.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>