<?xml version="1.0" encoding="utf-8"?>
<Media Key="d5b99d3e-ba57-4c23-8e69-8969e165c2e6" Alias="Motorcycle Small (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MotorcycleSmall1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-10T15:21:40</CreateDate>
    <NodeName Default="Motorcycle Small (1)" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <caption>
      <Value><![CDATA[]]></Value>
    </caption>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hcoltvkx/motorcycle-small.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>