<?xml version="1.0" encoding="utf-8"?>
<Media Key="ac828701-b07d-473f-8295-2ca74972efd4" Alias="Personal2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Personal2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-11T08:03:23</CreateDate>
    <NodeName Default="Personal2" />
    <SortOrder>39</SortOrder>
  </Info>
  <Properties>
    <caption>
      <Value><![CDATA[]]></Value>
    </caption>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/a4djfld3/personal2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>