<?xml version="1.0" encoding="utf-8"?>
<Media Key="6465b50d-a20b-4211-bd6c-3dd0f5ca81c4" Alias="Personal" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Personal</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-11T08:00:28</CreateDate>
    <NodeName Default="Personal" />
    <SortOrder>38</SortOrder>
  </Info>
  <Properties>
    <caption>
      <Value><![CDATA[]]></Value>
    </caption>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bo0hkzal/personal.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>