<?xml version="1.0" encoding="utf-8"?>
<Media Key="3187f1ac-780b-4f92-97f3-deebac7a8fd0" Alias="Relevantedge Logo 391 Wide" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/RelevantedgeLogo391Wide</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-10T19:06:24</CreateDate>
    <NodeName Default="Relevantedge Logo 391 Wide" />
    <SortOrder>31</SortOrder>
  </Info>
  <Properties>
    <caption>
      <Value><![CDATA[]]></Value>
    </caption>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vlyjomil/relevantedge-logo-391-wide.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>