<?xml version="1.0" encoding="utf-8"?>
<Media Key="0a56f852-4c3b-4ff8-96fa-379bb789f097" Alias="Renters Hero" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/RentersHero</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-10T18:51:10</CreateDate>
    <NodeName Default="Renters Hero" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <caption>
      <Value><![CDATA[]]></Value>
    </caption>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/kt2fmcr1/renters-hero.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>