<?xml version="1.0" encoding="utf-8"?>
<Media Key="6f12c22c-5119-4281-9899-04a8b119b5bb" Alias="Tag Management Color" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TagManagementColor</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-09T04:49:51</CreateDate>
    <NodeName Default="Tag Management Color" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dxbbe1yz/tag-management-color.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>