<?xml version="1.0" encoding="utf-8"?>
<Media Key="a8e6ac89-2d1b-4334-a6f9-5d159d3abaf3" Alias="Travel" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Travel</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-11T07:55:15</CreateDate>
    <NodeName Default="Travel" />
    <SortOrder>36</SortOrder>
  </Info>
  <Properties>
    <caption>
      <Value><![CDATA[]]></Value>
    </caption>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/r4wonka1/travel.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>