<?xml version="1.0" encoding="utf-8"?>
<Media Key="13da9c0a-c38d-4739-84f5-70aea33e891b" Alias="Travel Insurance" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TravelInsurance</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-19T19:29:50</CreateDate>
    <NodeName Default="Travel Insurance" />
    <SortOrder>49</SortOrder>
  </Info>
  <Properties>
    <caption>
      <Value><![CDATA[]]></Value>
    </caption>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bsonue2n/travel-insurance.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>