<?xml version="1.0" encoding="utf-8"?>
<Media Key="d58eaf9a-0c04-4b92-ba69-61c9ee5632ac" Alias="Truck Small" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TruckSmall</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-10T10:24:50</CreateDate>
    <NodeName Default="Truck Small" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <caption>
      <Value><![CDATA[]]></Value>
    </caption>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tsxj3vie/truck-small.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>