<?xml version="1.0" encoding="utf-8"?>
<Media Key="184695cb-f218-4b18-9cc8-8b6676196bcf" Alias="Truck Small3" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TruckSmall3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-10T15:16:24</CreateDate>
    <NodeName Default="Truck Small3" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <caption>
      <Value><![CDATA[]]></Value>
    </caption>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zwkfmgay/truck-small3.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>