<?xml version="1.0" encoding="utf-8"?>
<Media Key="25317b84-e335-4b35-a575-c435fd1b130c" Alias="Truck Small2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TruckSmall2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-10T15:16:24</CreateDate>
    <NodeName Default="Truck Small2" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <caption>
      <Value><![CDATA[]]></Value>
    </caption>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qj3dcjjv/truck-small2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>