<?xml version="1.0" encoding="utf-8"?>
<Media Key="25ee97da-b462-437a-af43-59e3b9d53f4e" Alias="Umbraco RE" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/UmbracoRE</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-10T19:14:38</CreateDate>
    <NodeName Default="Umbraco RE" />
    <SortOrder>33</SortOrder>
  </Info>
  <Properties>
    <caption>
      <Value><![CDATA[]]></Value>
    </caption>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1slp2jlc/umbraco-re.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>