<?xml version="1.0" encoding="utf-8"?>
<Media Key="a225573f-0c38-42de-b8e5-0acb955217e0" Alias="Umbraco RE3" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/UmbracoRE3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-23T12:41:42</CreateDate>
    <NodeName Default="Umbraco RE3" />
    <SortOrder>50</SortOrder>
  </Info>
  <Properties>
    <caption>
      <Value><![CDATA[]]></Value>
    </caption>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hfldliry/umbraco-re3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>