<?xml version="1.0" encoding="utf-8"?>
<Media Key="438379e6-f6d0-4974-b03b-c4ad5c492627" Alias="Umbraco RE4" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/UmbracoRE4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-23T12:44:35</CreateDate>
    <NodeName Default="Umbraco RE4" />
    <SortOrder>51</SortOrder>
  </Info>
  <Properties>
    <caption>
      <Value><![CDATA[]]></Value>
    </caption>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2b2jgq4q/umbraco-re4.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>