<?xml version="1.0" encoding="utf-8"?>
<Media Key="ffbec8a9-97c1-48c0-b78b-091c4c5fb283" Alias="Umbrella" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Umbrella</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-10T20:04:00</CreateDate>
    <NodeName Default="Umbrella" />
    <SortOrder>34</SortOrder>
  </Info>
  <Properties>
    <caption>
      <Value><![CDATA[]]></Value>
    </caption>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/v5el354b/umbrella.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>