<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003">  
  <Target Name="MakeBunExecutable_{{Rid}}" AfterTargets="Build" Condition="{{PlatformCondition}}">
    <Message Importance="High" Text="{{PackageName}}: Ensuring Bun binary is executable (chmod +x)..." />
    <Exec Command="chmod +x &quot;$(MSBuildThisFileDirectory)../../runtimes/{{Rid}}/native/{{ExeName}}&quot;" ContinueOnError="true" />
  </Target>
</Project>