<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="30f6c64f-7600-454e-95db-d186f8acdf93" Alias="contentPage" Level="1">
  <Info>
    <Name>Content page</Name>
    <Icon>icon-book-alt-2 color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="e7105e1c-3864-4b67-8bf4-0d526cec9699">componentsContainer</Composition>
      <Composition Key="7e475f25-1190-406c-817c-f080b2f1f65b">page</Composition>
    </Compositions>
    <DefaultTemplate>ContentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d2cf64ac-3ff8-4e81-a150-dcead48f4b58">ContentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="30f6c64f-7600-454e-95db-d186f8acdf93" SortOrder="0">contentPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>