<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3b76a3c6-ab1b-4efa-ab5b-559646293f7b" Alias="website" Level="1">
  <Info>
    <Name>Website</Name>
    <Icon>icon-globe-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="e7105e1c-3864-4b67-8bf4-0d526cec9699">componentsContainer</Composition>
    </Compositions>
    <DefaultTemplate>Website</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="371dff7e-75d3-4cc4-a104-e5d6a09ce419">Website</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="30f6c64f-7600-454e-95db-d186f8acdf93" SortOrder="0">contentPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>