<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f88ccd05-90c4-4785-881d-278425ff4d21" Alias="Product - Price (USD) - Decimal" Level="1">
  <Info>
    <Name>Product - Price (USD) - Decimal</Name>
    <EditorAlias>Umbraco.Decimal</EditorAlias>
    <DatabaseType>Decimal</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "step": 0.01
}]]></Config>
</DataType>