<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ca90c950-0aff-4e72-b976-a30b1ac57dad" Alias="Richtext editor" Level="1">
  <Info>
    <Name>Richtext editor</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "ace",
      "bold",
      "italic",
      "underline",
      "strikethrough",
      "bullist",
      "numlist",
      "outdent",
      "indent",
      "link",
      "anchor",
      "umbmediapicker",
      "table",
      "umbembeddialog"
    ],
    "stylesheets": [],
    "maxImageSize": 0,
    "mode": "classic",
    "dimensions": {
      "width": 1024
    }
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": "small"
}]]></Config>
</DataType>