<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0556e817-35dc-4c55-a244-2d7967cebc76" Alias="Single URL" Level="1">
  <Info>
    <Name>Single URL</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>