<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b3359928-4fd8-4d5f-9735-d2bdb73a77b1" Alias="Theme selector" Level="1">
  <Info>
    <Name>Theme selector</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "default"
    },
    {
      "id": 4,
      "value": "invert"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>